<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!--databaseドライブ-->
    <context id="DB2Tables" defaultModelType="flat" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressDate" value="true"/>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>
        <!--databaseチェーン接地址アカウントパスワード-->
        <jdbcConnection driverClass="org.postgresql.Driver" connectionURL="jdbc:postgresql://10.100.1.161:54332/PLANOCYCLE?characterEncoding=UTF-8&amp;useSSL=false" userId="admin" password="admin1234">
        </jdbcConnection>
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成Modelクラス存放位置--><!--targetProject 填入プロジェクト存在計算机的位置 -->
        <javaModelGenerator targetPackage="com.trechina.planocycle.entity.po" targetProject="plano-cycle-api/src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapper" targetProject="plano-cycle-api/src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Daoクラス存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.trechina.planocycle.mapper" targetProject="plano-cycle-api/src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成対応表及クラス名-->

        <!--        <table tableName="mst_kigyocore" domainObjectName="MstKiGyoCore"-->
        <!--               enableCountByExample="false"-->
        <!--               enableUpdateByExample="false"-->
        <!--               enableDeleteByExample="false"-->
        <!--               enableSelectByExample="false"-->
        <!--               selectByExampleQueryId="false">-->
        <!--        </table>-->
        <table tableName="work_priority_order_space" domainObjectName="WorkPriorityOrderSpace"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>
        <table tableName="work_priority_order_mst" domainObjectName="WorkPriorityOrderMst"
               enableCountByExample="false"
               enableUpdateByExample="false"
               enableDeleteByExample="false"
               enableSelectByExample="false"
               selectByExampleQueryId="false">
        </table>
    </context>
</generatorConfiguration>
