<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.AreasMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.Areas">
    <id column="areacd" jdbcType="INTEGER" property="areacd" />
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="areaname" jdbcType="VARCHAR" property="areaname" />
  </resultMap>
  <sql id="Base_Column_List">
    area.areacd, areaname
  </sql>
  <insert id="updateTransfer">
    insert into masterdb.areas
    select * from masterdb.areas_wk
  </insert>
  <delete id="delete">
    delete from masterdb.areas
  </delete>
</mapper>
