<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ClassicPriorityOrderCommodityNotMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderCommodityNot">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <id column="branch" jdbcType="VARCHAR" property="branch" />
    <id column="jan_new" jdbcType="VARCHAR" property="jan" />
  </resultMap>
  <insert id="setFinalForWork">
    insert into priority.priority_order_commodity_not
    select company_cd,priority_order_cd,branch,jan_new
    from priority.work_priority_order_commodity_not
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </insert>
  <select id="existJan" resultType="string">
    select jan_new from planocycle.work_priority_order_commodity_not
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER} and jan_new in
    <foreach collection="janList" item="obj" open="(" close=")" separator=",">
      #{obj}
    </foreach>
  </select>
  <insert id="setWorkForFinal">
    insert into planocycle.work_priority_order_commodity_not
    select company_cd,priority_order_cd,branch,jan_new
    from planocycle.priority_order_commodity_not
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </insert>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from priority.work_priority_order_commodity_not
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteFinal">
    delete from priority.priority_order_commodity_not
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <select id="selectNotInfo" resultType="com.trechina.planocycle.entity.vo.PriorityOrderCommodityVO">
    select nots.branch,branchs."2" as branchName,jan_new as jan,jans."2" as janName,'' as errMsg
    from priority.work_priority_order_commodity_not nots
           left join "1000".prod_0000_jan_info jans on nots.jan_new = jans."1"
           left join "1000".ten_0000_ten_info branchs on nots.branch = split_part( branchs."1", '_', 2 )
      and branchs."1" like #{companyCd} || '_%'
    where nots.company_cd = #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </select>
  <select id="selectBranchCDForCalcLength" resultType="java.lang.String">
    select branch_cd
    from masterdb.branchs
    where company_cd =#{companyCd,jdbcType=VARCHAR}
    limit 1
  </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderCommodityNot">
    insert into planocycle.work_priority_order_commodity_not (company_cd, priority_order_cd, branch,
      jan_new)
    values
     <foreach collection="lists" item="list" separator=",">
       <if test="list.companyCd!=null and list.priorityOrderCd!=null and list.branch!=null and list.jan!=null">
           (#{list.companyCd,jdbcType=VARCHAR}, #{list.priorityOrderCd,jdbcType=INTEGER}, #{list.branch,jdbcType=VARCHAR},
      #{list.jan,jdbcType=VARCHAR})
       </if>
     </foreach>
  </insert>

</mapper>
