<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ClassicPriorityOrderJanReplaceMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderJanReplace">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <id column="jan_old" jdbcType="VARCHAR" property="janOld" />
    <id column="jan_new" jdbcType="VARCHAR" property="janNew" />
  </resultMap>
  <insert id="setFinalForWork">
    insert into priority.priority_order_jan_replace
    select company_cd,priority_order_cd,jan_old,jan_new
    from priority.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </insert>
  <insert id="setWorkForFinal">
    insert into priority.priority_order_jan_replace
    select company_cd,priority_order_cd,jan_old,jan_new
    from priority.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </insert>
  <select id="existJanNew" resultType="string">
    select jan_new from priority.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and jan_new in
    <foreach collection="janList" item="obj" open="(" close=")" separator=",">
      #{obj}
    </foreach>
  </select>
  <select id="existJanOld" resultType="string">
    select jan_old from priority.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and jan_old in
    <foreach collection="janList" item="obj" open="(" close=")" separator=",">
      #{obj}
    </foreach>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from priority.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteFinal">
    delete from priority.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </delete>
  <select id="selectJanInfo" resultType="com.trechina.planocycle.entity.vo.ClassicPriorityOrderJanReplaceVO">
    select jan_old as janOld,jan_new as janNew,"${janNameCol}" as janName from priority.priority_order_jan_replace jan
    left join ${tableName} mst
    on jan.jan_old  = mst."${janCdCol}"
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </select>
  <select id="selectJanDistinct" resultType="java.lang.String">
    select array_to_string(array_agg("1"),',') from ${proInfoTable}
  </select>
  <select id="selectJanDistinctByJan" resultType="string">
    select "1" from ${proInfoTable} where "1" in
    <foreach collection="jan" item="item" open="(" close=")" separator=",">
      #{item}
    </foreach>
  </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderJanReplace">
    insert into priority.priority_order_jan_replace (company_cd, priority_order_cd, jan_old,
      jan_new)
    values
    <foreach collection="lists" separator="," item="list">
    <if test="list.companyCd!=null and list.priorityOrderCd!=null and list.janOld!=null and list.janNew!=null">
     (#{list.companyCd,jdbcType=VARCHAR}, #{list.priorityOrderCd,jdbcType=INTEGER}, #{list.janOld,jdbcType=VARCHAR},
      #{list.janNew,jdbcType=VARCHAR})
    </if>
    </foreach>
  </insert>
</mapper>
