<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ClassicPriorityOrderJanProposalMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderJanProposal">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <id column="jan_old" jdbcType="VARCHAR" property="janOld" />
    <id column="jan_new" jdbcType="VARCHAR" property="janNew" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    pro.company_cd, pro.priority_order_cd, pro.jan_old, pro.jan_new, flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultType="com.trechina.planocycle.entity.vo.PriorityOrderJanProposalVO">
    select
      pro.jan_old as janOld, pro.jan_new as janNew, jans.janname as janName, flag
    ,case when rep.jan_old is not null then 'すでにJAN変商品として入力済みです。'
     when rep1.jan_old is not null then 'すでにJAN変商品として入力済みです。'
     when rep2.jan_old is not null then 'すでにJAN変商品として入力済みです。' end as errMsg
    from priority.work_priority_order_jan_proposal pro
    left join priority.priority_order_jan_replace as rep
    on pro.company_cd = rep.company_cd
    and pro.jan_old = rep.jan_old and pro.flag=1
    left join priority.priority_order_jan_replace as rep1
              on pro.company_cd = rep1.company_cd
                and pro.jan_old = rep1.jan_new and pro.flag=1
    left join priority.priority_order_jan_replace as rep2
              on pro.company_cd = rep2.company_cd
                and pro.jan_new = rep2.jan_old and pro.flag=1
    left join masterdb.jans jans
    on pro.jan_new = jans.jan
    where pro.company_cd = #{companyCd,jdbcType=VARCHAR}
      and pro.priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from priority.work_priority_order_jan_proposal
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteFinalByPrimaryKey">
    delete from priority.priority_order_jan_proposal
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="map">
    insert into priority.work_priority_order_jan_proposal (company_cd, priority_order_cd, jan_old,
      jan_new, flag)
    values
           <foreach collection="lists" separator="," item="list">
           (#{companyCd,jdbcType=VARCHAR}, #{priorityOrderCd,jdbcType=INTEGER}, #{list.janOld,jdbcType=VARCHAR},
      #{list.janNew,jdbcType=VARCHAR}, 0)
           </foreach>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.trechina.planocycle.entity.po.PriorityOrderJanProposal">
    <foreach collection="lists" item="list" separator=";">
    update priority.work_priority_order_jan_proposal
    set flag = #{list.flag,jdbcType=INTEGER}
    where company_cd = #{list.companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{list.priorityOrderCd,jdbcType=INTEGER}
      and jan_old = #{list.janOld,jdbcType=VARCHAR}
      and jan_new = #{list.janNew,jdbcType=VARCHAR}
    </foreach>
  </update>
  <insert id="insertFinalData">
    insert into priority.priority_order_jan_proposal(company_cd,priority_order_cd,jan_old,jan_new,flag)
    select company_cd,priority_order_cd,jan_old,jan_new,flag
    from priority.work_priority_order_jan_proposal
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd}
  </insert>
  <insert id="setWorkForFinal">
    insert into priority.work_priority_order_jan_proposal(company_cd,priority_order_cd,jan_old,jan_new,flag)
    select company_cd,priority_order_cd,jan_old,jan_new,flag
    from priority.priority_order_jan_proposal
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd}
  </insert>
  <select id="existJanNew"  resultType="string">
    select jan_new from priority.work_priority_order_jan_proposal
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd} and flag=1
    and jan_new in(
    <foreach collection="janList" separator="," item="obj">
        #{obj}
    </foreach>)
  </select>
  <select id="existJanOld" resultType="string">
    select jan_old from priority.work_priority_order_jan_proposal
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd} and flag=1
    and jan_old in(
    <foreach collection="janList" separator="," item="obj">
      #{obj}
    </foreach>)
  </select>
</mapper>
