<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ClassicPriorityOrderMstMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderMst">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="priority_order_name" jdbcType="VARCHAR" property="priorityOrderName" />
    <result column="product_power_cd" jdbcType="INTEGER" property="productPowerCd" />
  </resultMap>
  <sql id="Base_Column_List">
    company_cd, priority_order_cd, priority_order_name, product_power_cd
  </sql>
  <insert id="setWork">
    insert into priority.work_priority_order_mst (company_cd, priority_order_cd,priority_order_name,
                                             product_power_cd,author_cd,create_time,editer_cd,edit_time,shelf_pattern_cd,attr_option)
    values (#{list.companyCd,jdbcType=VARCHAR}, #{list.priorityOrderCd,jdbcType=INTEGER},concat('一時保存データ',#{date}),
            #{list.productPowerCd,jdbcType=INTEGER},#{authorCd},now(),#{authorCd},now(),#{list.shelfPatternCd},#{list.attrOption})
  </insert>
  <insert id="setWorkForFinal">
    insert  into priority.work_priority_order_mst(company_cd, priority_order_cd,priority_order_name,attr_option,
      product_power_cd,author_cd,create_time,editer_cd,edit_time,shelf_pattern_cd)
    select company_cd, priority_order_cd,concat('一時保存データ',#{date}),attr_option,
      product_power_cd,author_cd,now(),editer_cd,now(),shelf_pattern_cd
    from priority.priority_order_mst
    where company_cd = #{companyCd,jdbcType=VARCHAR} and priority_order_cd =#{priorityOrderCd,jdbcType=INTEGER}
  </insert>
  <select id="selectByPrimaryKey" parameterType="java.lang.String"
          resultType="com.trechina.planocycle.entity.po.PriorityOrderMst">
    select
    priority_order_cd as priorityOrderCd, priority_order_name as priorityOrderName
    from priority.priority_order_mst
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    order by priority_order_cd desc
  </select>
  <select id="selectPriorityOrderCount" resultType="java.lang.Integer">
    select count(1)
    from priority.shelf_pts_data pts
    inner join planocycle.product_power_mst prod
    on pts.company_cd = prod.company_cd
    left join masterdb.group_company grpcom
    on pts.company_cd = grpcom.group_cd
    where coalesce(grpcom.company_cd,pts.company_cd) in (
          <foreach collection="lists" separator="," item="list">
            #{list}
          </foreach>
        )
      and pts.shelf_pattern_cd is not null
  </select>
  <select id="selectProductPowerCd" resultType="map">
    SELECT product_power_cd,array_to_string(array_agg(pat.shelf_pattern_cd),',')  as shelf_pattern_cd,cast(array_to_string(array_agg( DISTINCT pmst.shelf_name_cd),',') as integer ) as shelfNameCd
    FROM priority.priority_order_mst mst
           inner join priority.priority_order_pattern pat
                      on mst.priority_order_cd=pat.priority_order_cd
           inner join planocycle.shelf_pattern_mst pmst
                      on pmst.shelf_pattern_cd = pat.shelf_pattern_cd
    where mst.priority_order_cd =#{priorityOrderCd,jdbcType=INTEGER}
    group by product_power_cd
  </select>
  <select id="selectPriorityOrderCdForProdCd" resultType="java.lang.String">
    SELECT array_to_string(array_agg(priority_order_cd),',')
    FROM priority.priority_order_mst
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and product_power_cd = #{productPowerCd,jdbcType=INTEGER}
    group by product_power_cd
  </select>
    <select id="getTableNameByCompanyCd" resultType="com.trechina.planocycle.entity.dto.TableNameDto">

      select priority_order_cd as id,priority_order_name as fileName,author_cd as authorName,create_time as createTime,true as flag
      from priority.work_priority_order_mst
         where company_cd = #{companyCd} and author_cd = #{authorCd}
        and create_time = (SELECT max(create_time) from priority.work_priority_order_mst where author_cd =#{authorCd})
      union all
      (select priority_order_cd as id,priority_order_name as fileName,author_cd as authorName,create_time as createTime, false as flag
      from priority.priority_order_mst
      where company_cd = #{companyCd} and deleteflg = 0
        and author_cd = #{authorCd}
        order by priority_order_cd desc)
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from priority.priority_order_mst
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteforid">
    delete from priority.priority_order_mst where priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteWork">
    delete from priority.work_priority_order_mst where priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.dto.PriorityOrderMstDto">
    insert into priority.priority_order_mst (company_cd, priority_order_cd, priority_order_name,attr_option,
      product_power_cd,author_cd,create_time,editer_cd,edit_time,shelf_pattern_cd)
    select company_cd,priority_order_cd ,#{list.priorityOrderName},attr_option,
           product_power_cd,#{authorCd},now(),#{authorCd},now(),#{list.shelfPatternCd}
    from priority.work_priority_order_mst
    where priority_order_cd = #{list.priorityOrderCd,jdbcType=INTEGER}
  </insert>
  <select id="getCommonPartsData" resultType="string">
    select common_parts_data from priority.priority_order_mst
  </select>
  <select id="getPriorityOrderMst" resultType="com.trechina.planocycle.entity.dto.PriorityOrderMstDto">
    select product_power_cd,shelf_pattern_cd from priority.work_priority_order_mst where company_cd = #{companyCd,jdbcType=VARCHAR}
                                                                                     and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </select>
  <select id="selectPattern" resultType="com.trechina.planocycle.entity.dto.ShelfPtsDataDto">
    select id, pattern.shelf_pattern_cd,shelf_pattern_name from priority.priority_order_pattern pattern
    inner join priority.shelf_pattern_mst patternmst on patternmst.shelf_pattern_cd=pattern.shelf_pattern_cd
    inner join priority.shelf_pts_data pts_data on pts_data.shelf_pattern_cd=pattern.shelf_pattern_cd
    where priority_order_cd=#{priorityOrderCd} and pattern.company_cd=#{companyCd}
  </select>
</mapper>
