<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.JanClassifyMapper">
    <select id="selectJanClassify" resultType="map">
        select "1" as attr,  "2" as attr_val, "3" as sort from ${tableName}  where "1" like '%_name' or "1" = 'jan_cd';
    </select>
</mapper>
