<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.MstCommodityMapper">

    <select id="getSyncSet" resultType="com.trechina.planocycle.entity.po.CommoditySyncSet">
        <if test="tableName!=null and tableName!=''">
            select 1 as "prodIsCore", "1" "prodMstClass", "2" "prodMstName","3" "flag"
            from ${tableName}
        </if>
        <if test="tableName!=null and tableName!='' and tableNameCompany!=null and tableNameCompany!='' ">union</if>
        <if test="tableNameCompany!=null and tableNameCompany!=''">
         select  0 as "prodIsCore", "1"  "prodMstClass", "2" "prodMstName","3" "flag"
        from ${tableNameCompany}
        </if>
    </select>

    <update id="setSyncSet">
        update ${tableName} set "3" = #{commoditySyncSet.flag}
        where "1" = #{commoditySyncSet.prodMstClass}
    </update>

    <update id="syncCommodityMaster">
        insert
            into
            ${tableName}
            select
            *
        from
            ${tableNameWK}
            on
            conflict("1") do
        update
        set
            "2" = excluded."2"
    </update>

    <select id="getCommodityList" resultType="com.trechina.planocycle.entity.po.CommoditySyncSet">
        select "1" "prodMstClass", "2" "prodMstName" from ${tableName}
        where "3" = true
        order by "1";
    </select>
</mapper>