<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderShelfDataMapper">
    <update id="updateFaceNum">
        update work_priority_order_pts_data_jandata set face_count = #{item.faceNum} ,tumiagesu = #{item.tumiagesu}
        where tai_cd = #{item.taiCd} and tana_cd = #{item.tanaCd} and tanaposition_cd = #{item.tanapositionCd}
    </update>
    <select id="getPlatformShedData" resultType="com.trechina.planocycle.entity.dto.PriorityOrderPlatformShedDto">

        select  relation.tai_cd,relation.tana_cd,relation.tana_type,
                COALESCE( datas.faceNum,0) as faceNum,coalesce(datas.skuNum,0) as skuNum
        from planocycle.work_priority_order_restrict_relation  relation
                 left join (
            select tai_cd,tana_cd,tana_type, sum(face_fact) as  faceNum,count(jan_cd) as skuNum from planocycle.work_priority_order_result_data where priority_order_cd = #{priorityOrderCd}
                                                                                                                                        and face_fact != 0
            GROUP BY tai_cd,tana_cd,tana_type) datas

                           on datas.tai_cd = relation.tai_cd and datas.tana_cd = relation.tana_cd and relation.tana_type = datas.tana_type

        where  relation.company_cd = #{companyCd} and relation.author_cd = #{authorCd} and relation.priority_order_cd =#{priorityOrderCd}
        order by tai_cd,tana_cd
    </select>
    <select id="getNewPlatformShedData" resultType="com.trechina.planocycle.entity.dto.PriorityOrderPlatformShedDto">
        select
            tai_cd,
            tana_cd,
            count ( jan ) "skuNum",
            sum ( face_count ) "faceNum"
        from planocycle.work_priority_order_pts_data ptsdata
                 left join planocycle.work_priority_order_pts_data_jandata jandata
                           on ptsdata.id = jandata.pts_cd
        where
            ptsdata.priority_order_cd = #{priorityOrderCd}
        group by
            tai_cd,tana_cd
        order by
            tai_cd,tana_cd
    </select>
    <select id="getRestrictJans" resultType="com.trechina.planocycle.entity.dto.PriorityOrderRestrictJanDto">
        select datas.jan_cd as janCd,COALESCE(jans.jan_nm,mstpl.jan_nm) as janName, datas.tai_cd as taiCd,datas.tana_cd as tanaCd, COALESCE(jans.irisu,mstpl.irisu) as zokusei7,COALESCE(jans.pkg,mstpl.pkg) as zokusei5,
               COALESCE(jans.alcohol,mstpl.alcohol)  as zokusei8,COALESCE(jans.brand,mstpl.brand) as zokusei9,COALESCE(jans.kikaku,mstpl.kikaku) as zokusei6,
               COALESCE(jans.scat1cd_val,mstpl.scat1cd_val) as zokusei1,COALESCE(jans.scat2cd_val,mstpl.scat2cd_val) as zokusei2,COALESCE(jans.scat3cd_val,mstpl.scat3cd_val) as zokusei3
               ,COALESCE(jans.scat4cd_val,mstpl.scat4cd_val) as zokusei4,
               datas.tana_type as restrictType,sort_rank as rank,datas.face_fact as faceNum, case when janNew.jan_new is null then 2 else 1 end newRank
        from  planocycle.work_priority_order_result_data datas
                left join planocycle.work_priority_order_restrict_result rmst
                        on rmst.restrict_cd = datas.restrict_cd
                            and rmst.company_cd = #{item.companyCd} and rmst.author_cd = #{authorCd}
                            and rmst.priority_order_cd = #{item.priorityOrderCd}
                left join masterdb.jan_mst jans
                        on jans.jan_cd = datas.jan_cd
                left join masterdb.jan_mst_planocycle mstpl
                          on mstpl.jan_cd = datas.jan_cd
                left join planocycle.work_priority_order_jan_new janNew
                            on datas.jan_cd = janNew.jan_new and janNew.priority_order_cd = datas.priority_order_cd and datas.company_cd = janNew.company_cd
            where   datas.restrict_cd = #{item.restrictCd} and datas.company_cd = #{item.companyCd} and datas.author_cd = #{authorCd} and datas.adopt_flag=1
            and datas.priority_order_cd = #{item.priorityOrderCd}
            order by sort_rank,newRank

    </select>
    <select id="getPlatformShedJans" resultType="com.trechina.planocycle.entity.dto.PriorityOrderRestrictJanDto">
        select DISTINCT datas.jan_cd as janCd,COALESCE(jans.jan_nm,mstpl.jan_nm) as janName, datas.tai_cd as taiCd,datas.tana_cd as tanaCd,  COALESCE(jans.irisu,mstpl.irisu) as zokusei7,COALESCE(jans.pkg,mstpl.pkg) as zokusei5,
                        COALESCE(jans.alcohol,mstpl.alcohol)  as zokusei8,COALESCE(jans.brand,mstpl.brand) as zokusei9,COALESCE(jans.kikaku,mstpl.kikaku) as zokusei6,
                        COALESCE(jans.scat1cd_val,mstpl.scat1cd_val) as zokusei1,COALESCE(jans.scat2cd_val,mstpl.scat2cd_val) as zokusei2,COALESCE(jans.scat3cd_val,mstpl.scat3cd_val) as zokusei3
                ,COALESCE(jans.scat4cd_val,mstpl.scat4cd_val) as zokusei4,
               datas.tana_type as restrictType,sort_rank as rank,datas.face_fact as faceNum,case when janNew.jan_new is null then 2 else 1 end newRank
        from  planocycle.work_priority_order_result_data datas
                  left join planocycle.work_priority_order_restrict_result rmst
                            on rmst.restrict_cd = datas.restrict_cd
                  left join masterdb.jan_mst jans
                            on jans.jan_cd = datas.jan_cd
                  left join masterdb.jan_mst_planocycle mstpl
                            on mstpl.jan_cd = datas.jan_cd
                  left join planocycle.work_priority_order_jan_new janNew
                            on datas.jan_cd = janNew.jan_new and janNew.priority_order_cd = datas.priority_order_cd and datas.company_cd = janNew.company_cd
        where datas.tai_cd = #{item.taiCd} and datas.tana_cd = #{item.tanaCd} and datas.tana_type = #{item.tanaType}
        and datas.company_cd = #{item.companyCd} and datas.author_cd =#{authorCd} and datas.priority_order_cd = #{item.priorityOrderCd}
        order by sort_rank,newRank
    </select>
    <select id="selectRegclass" resultType="java.lang.Integer">
        select nextval('planocycle.priority_order_pts_data_id_seq'::regclass)

    </select>
</mapper>