<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderPtsBackupJanMapper">
    <insert id="insertBackupJan">
        insert into priority.priority_order_pts_backup_jan(priority_order_cd, shelf_pattern_cd, "group", jan, branch, rank_upd,
        branch_num_upd,branch_amount_upd, sku) values
        <foreach collection="list" item="item" separator=",">
            (#{priorityOrderCd},#{shelfPatternCd},#{group}, #{item.jan}, #{branch},#{item.rank_upd, jdbcType=INTEGER}::integer,
            #{item.branch_num_upd},#{item.branch_amount_upd},#{item.sku})
        </foreach>
        on conflict(priority_order_cd, shelf_pattern_cd, jan, branch)
        do update set rank_upd=excluded.rank_upd,branch_num_upd=excluded.branch_num_upd,
        branch_amount_upd=excluded.branch_amount_upd,sku=excluded.sku
    </insert>
    <delete id="deleteBackupJan">
        delete from priority.priority_order_pts_backup_jan where create_time &lt; current_date::timestamp - INTERVAL '1 day'
    </delete>
    <delete id="deleteBackupJanByCd">
        delete from priority.priority_order_pts_backup_jan where priority_order_cd=#{priorityOrderCd}
    </delete>
    <select id="selectBackupJan" resultType="map">
        select "group" attr_list, sku, jan, rank_upd,branch_amount_upd,branch_num_upd
        from priority.priority_order_pts_backup_jan backupjan where priority_order_cd=#{priorityOrderCd} and branch=#{branch}
        and shelf_pattern_cd=#{shelfPatternCd}
        order by "group", rank_upd
    </select>
</mapper>
