<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderCatepakMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderCatepak">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="rank" jdbcType="INTEGER" property="rank" />
    <result column="branch_num" jdbcType="INTEGER" property="branchNum" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_cd, priority_order_cd, rank, branch_num
  </sql>
  <update id="updateBranchNum">
    update priority.work_priority_order_catepak
    set branch_num = #{branchNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey"  resultType="com.trechina.planocycle.entity.vo.PriorityOrderCatePakVO">
    select sm.id,sm.smalls,sm.rank,sm.branch_num as branchNum,big.bigs
    from
      (select
         pak.id,pak.company_cd,pak.priority_order_cd,
         string_agg(attrs.attr_cd||':'||coalesce(attrs.attr_value,''),',' order by attrs.attr_cd) as smalls,
         pak.rank,pak.branch_num
        from priority.work_priority_order_catepak pak
          left join priority.work_priority_order_catepak_attribute  attrs
          on pak.id = attrs.catepak_cd
          and attrs.flg = 0
          group by pak.id,pak.rank,pak.branch_num
      ) sm
      left join
      (select
         pak.id,
         string_agg(attrm.attr_cd||':'||coalesce(attrm.attr_value,''),',' order by attrm.attr_cd) as bigs
        from priority.work_priority_order_catepak pak
          left join priority.work_priority_order_catepak_attribute attrm
          on pak.id = attrm.catepak_cd
          and attrm.flg = 1
          group by pak.id) big
      on sm.id = big.id
      where sm.company_cd = #{companyCd,jdbcType=VARCHAR}
    and sm.priority_order_cd =#{priorityOrderCd,jdbcType=INTEGER}
  </select>
    <select id="getCatePakSimilarity" resultType="java.util.Map">
      select jan_new as "janNew" ,sku as "janName" ,rank_upd as rank,branch_amount_upd  as "branchAccount",
      <foreach collection="maps" separator="," index="index">
        ${index}
      </foreach>
      from priority.work_priority_order_result_data
      where
      <foreach collection="maps" separator="and" index="index" item="item">
        ${index} = #{item}
      </foreach>
      and rank_upd != 99999999
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
      order by rank_upd;
    </select>
    <delete id="deleteByPrimaryKey">
    delete from priority.work_priority_order_catepak
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteFinalByPrimaryKey">
    delete from priority.priority_order_catepak
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderCatepak">
    <selectKey resultType="int" keyProperty="id" order="AFTER">
      select  currval('priority.priority_order_catepak_id_seq'::regclass) as id
    </selectKey>
    insert into priority.work_priority_order_catepak ( company_cd, priority_order_cd,
      rank, branch_num)
    values
    <if test="rank!=null"></if>
           ( #{companyCd,jdbcType=VARCHAR}, #{priorityOrderCd,jdbcType=INTEGER},
      #{rank,jdbcType=INTEGER}, #{branchNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertFinalData">
    insert into priority.priority_order_catepak(id,company_cd,priority_order_cd,rank,branch_num)
    select id,company_cd,priority_order_cd,rank,branch_num
    from priority.work_priority_order_catepak
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd}
  </insert>
  <insert id="setWorkForFinal">
    insert into priority.work_priority_order_catepak(id,company_cd,priority_order_cd,rank,branch_num)
    select #{id},company_cd,#{newPriorityOrderCd},rank,branch_num
    from priority.priority_order_catepak
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd}
  </insert>
  <select id="getWorkCatepakId" resultType="java.lang.Integer">
    select nextval('priority.priority_order_catepak_id_seq'::regclass)
  </select>
</mapper>
