<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderMstAttrSortMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderMstAttrSort">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <id column="value" jdbcType="INTEGER" property="value" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="cd" jdbcType="INTEGER" property="cd" />
  </resultMap>
  <resultMap id="attrTreeMap" type="com.trechina.planocycle.entity.vo.PriorityOrderAttrValue">
    <result column="scat1cd" property="attrCd"/>
    <result column="scat1nm" property="attrName"/>
    <collection property="children" ofType="com.trechina.planocycle.entity.vo.PriorityOrderAttrValue">
      <result column="scat2cd" property="attrCd"/>
      <result column="scat2nm" property="attrName"/>
      <collection property="children" ofType="com.trechina.planocycle.entity.vo.PriorityOrderAttrValue">
        <result column="scat3cd" property="attrCd"/>
        <result column="scat3nm" property="attrName"/>
        <collection property="children" ofType="com.trechina.planocycle.entity.vo.PriorityOrderAttrValue">
          <result column="scat4cd" property="attrCd"/>
          <result column="scat4nm" property="attrName"/>
        </collection>
      </collection>
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    company_cd, priority_order_cd, value, sort, cd
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from planocycle.priority_order_mst_attrsort
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </select>
    <select id="getAttrType" resultType="java.lang.Integer">
    select type
    from masterdb.zokusei_mst
    where zokusei_id = #{attrId}
    </select>
  <select id="getAttribute" resultType="com.trechina.planocycle.entity.vo.PriorityOrderAttrListVo">
    select zokusei_id as attrCd,zokusei_nm as attrName from masterdb.zokusei_mst order by zokusei_sort;
  </select>
  <select id="getAttrSort" resultType="java.lang.Integer">
    select zokusei_sort
    from masterdb.zokusei_mst
    where zokusei_id = #{attrId}
  </select>
  <select id="getAttrTableName" resultType="java.lang.String">
    select zokusei_tb_nm
    from masterdb.zokusei_mst
    where zokusei_id = #{attrId}
  </select>
  <select id="getAttrValue" resultType="com.trechina.planocycle.entity.vo.PriorityOrderAttrListVo">
    select datas.val as attrCd,datas.nm as attrName ,datas.type as type, mst.jans_col_nm as jansColNm
    from masterdb.zokusei_mst_data datas left join masterdb.zokusei_mst mst
    on mst.zokusei_id = datas.zokusei_id
    where mst.zokusei_id = #{zokuseiId}
  </select>
  <select id="getGoodsAttrTree" resultMap="attrTreeMap">
    --Tree
    select ct1.val as scat1cd,ct1.nm as scat1nm
         ,ct2.val as scat2cd,ct2.nm as scat2nm
         ,ct3.val as scat3cd,ct3.nm as scat3nm
         ,ct4.val as scat4cd,ct4.nm as scat4nm
    from masterdb.zokusei_mst_data ct1
           left join masterdb.zokusei_mst_data ct2
                     on ct1.val = ct2.val_parent
                       and ct2.zokusei_id  = 2
           left join masterdb.zokusei_mst_data ct3
                     on ct2.val = ct3.val_parent
                       and ct2.zokusei_id  = 2
                       and ct3.zokusei_id  = 3
           left join masterdb.zokusei_mst_data ct4
                     on ct3.val = ct4.val_parent
                       and ct3.zokusei_id  = 3
                       and ct4.zokusei_id  = 4
    where ct1.zokusei_id = 1
    order by ct1.val

  </select>
  <select id="getAttr" resultType="com.trechina.planocycle.entity.vo.PriorityOrderAttrValueVo">
    select zokusei_id as attrCd,zokusei_nm as attrName ,zokusei_tb_nm as tableName,jans_col_nm as jansColNm,zokusei_sort as sort from masterdb.zokusei_mst where type  = 0;
  </select>
  <select id="getAttrValues" resultType="com.trechina.planocycle.entity.vo.PriorityOrderAttrValue">
    select val as attrCd,nm as attrName,type as type
    from masterdb.zokusei_mst_data
    where zokusei_id = #{zokuseiId}
  </select>

  <select id="getAttrValue5" resultType="com.trechina.planocycle.entity.vo.PriorityOrderAttrVO">
    select datas.val as attrACd , datas.nm as attrAName, mst.jans_col_nm as jansAColnm
    from masterdb.zokusei_mst_data datas left join masterdb.zokusei_mst mst
    on datas.zokusei_id = mst.zokusei_id
    where  datas.zokusei_id = #{attr1}

  </select>
  <select id="getfeceNum" resultType="java.lang.Integer">
    select sum(t1.face_count) face_count
    from planocycle.shelf_pts_data_jandata t1
           left join masterdb.jan_mst t2
                     on t1.jan=t2.jan_cd
    left JOIN planocycle.shelf_pts_data t3
    ON t3.id = t1.pts_cd
    where cast(t2.${janCol1} as VARCHAR)  = #{attrValue1} and cast(t2.${janCol2} as VARCHAR)= #{attrValue2} and t3.shelf_pattern_cd = #{patternCd}
    group by t2.${janCol1},t2.${janCol2}
  </select>
  <select id="getfeceNum1" resultType="java.lang.Integer">
    select sum(t1.face_count) face_count,t2.${janCol1},t2.${janCol2}
    from planocycle.shelf_pts_data_jandata t1
           left join masterdb.jan_mst t2
                     on t1.jan=t2.jan_cd
           left JOIN planocycle.shelf_pts_data t3
                     ON t3.id = t1.pts_cd
    where  t3.shelf_pattern_cd = #{patternCd}
    group by t2.${janCol1},t2.${janCol2}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from planocycle.priority_order_mst_attrsort
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderMstAttrSort">
    insert into planocycle.priority_order_mst_attrsort (company_cd, priority_order_cd, value,
      sort, cd)
    values
           <foreach collection="lists" item="list" separator=",">
           (#{list.companyCd,jdbcType=VARCHAR}, #{list.priorityOrderCd,jdbcType=INTEGER}, #{list.value,jdbcType=INTEGER},
      #{list.sort,jdbcType=INTEGER}, #{list.cd,jdbcType=INTEGER})
           </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.trechina.planocycle.entity.po.PriorityOrderMstAttrSort">
    insert into planocycle.priority_order_mst_attrsort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        company_cd,
      </if>
      <if test="priorityOrderCd != null">
        priority_order_cd,
      </if>
      <if test="value != null">
        value,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="cd != null">
        cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        #{companyCd,jdbcType=VARCHAR},
      </if>
      <if test="priorityOrderCd != null">
        #{priorityOrderCd,jdbcType=INTEGER},
      </if>
      <if test="value != null">
        #{value,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="cd != null">
        #{cd,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>
