<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderCatepakAttributeMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderCatepakAttribute">
    <id column="attr_cd" jdbcType="INTEGER" property="attrCd" />
    <id column="catepak_cd" jdbcType="INTEGER" property="catepakCd" />
    <result column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="attr_value" jdbcType="VARCHAR" property="attrValue" />
    <result column="flg" jdbcType="INTEGER" property="flg" />
  </resultMap>
  <sql id="Base_Column_List">
    attr_cd, catepak_cd, company_cd, priority_order_cd, attr_value, flg
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from priority.work_priority_order_catepak_attribute
    where company_cd = #{companyCd,jdbcType=INTEGER}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <delete id="deleteFinalByPrimaryKey" parameterType="map">
    delete from priority.priority_order_catepak_attribute
    where company_cd = #{companyCd,jdbcType=INTEGER}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <select id="selectForTempTable" resultType="java.lang.String">
    select max(branch_num) as branch_num from ${tableName}
    where
    <foreach collection="lists" separator="and" item="list">
      ${list}
    </foreach>
  </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderCatepakAttribute">
    insert into priority.work_priority_order_catepak_attribute (attr_cd, catepak_cd, company_cd,
      priority_order_cd, attr_value, flg)
    values
     <foreach collection="lists" item="list" separator=",">
           (#{list.attrCd,jdbcType=INTEGER}, #{list.catepakCd,jdbcType=INTEGER}, #{list.companyCd,jdbcType=VARCHAR},
      #{list.priorityOrderCd,jdbcType=INTEGER}, #{list.attrValue,jdbcType=VARCHAR}, #{list.flg,jdbcType=INTEGER})
     </foreach>
  </insert>
  <insert id="insertFinalData">
    insert into priority.priority_order_catepak_attribute(company_cd,priority_order_cd,attr_cd,attr_value,flg,catepak_cd)
    select company_cd,priority_order_cd,attr_cd,attr_value,flg,catepak_cd
    from priority.work_priority_order_catepak_attribute
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd}
  </insert>
  <insert id="setWorkForFinal">
    insert into priority.work_priority_order_catepak_attribute(company_cd,priority_order_cd,attr_cd,attr_value,flg,catepak_cd)
    select company_cd,priority_order_cd,attr_cd,attr_value,flg,catepak_cd
    from priority.priority_order_catepak_attribute
    where company_cd=#{companyCd} and priority_order_cd=#{priorityOrderCd}
  </insert>
</mapper>
