<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderJanReplaceMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderJanReplace">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <id column="jan_old" jdbcType="VARCHAR" property="janOld" />
    <id column="jan_new" jdbcType="VARCHAR" property="janNew" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from planocycle.priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </delete>
  <delete id="workDelete">
    delete from planocycle.work_priority_order_jan_replace
    where company_cd = #{companyCd,jdbcType=VARCHAR} and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <select id="selectJanInfo" resultType="com.trechina.planocycle.entity.vo.PriorityOrderJanReplaceVO">
    select jan_old as janOld,jan_new as janNew,janname as janName from planocycle.priority_order_jan_replace jan
    left join masterdb.jans mst
    on jan.jan_new  = mst.jan
    where company_cd = #{companyCd,jdbcType=VARCHAR}
  </select>
  <select id="selectJanDistinct" resultType="java.lang.String">
    select array_to_string(array_agg(jan),',') from masterdb.jans
  </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderJanReplace">
    insert into planocycle.priority_order_jan_replace (company_cd, priority_order_cd, jan_old,
      jan_new)
    values
    <foreach collection="lists" separator="," item="list">
    <if test="list.companyCd!=null and list.priorityOrderCd!=null and list.janOld!=null and list.janNew!=null">
     (#{list.companyCd,jdbcType=VARCHAR}, #{list.priorityOrderCd,jdbcType=INTEGER}, #{list.janOld,jdbcType=VARCHAR},
      #{list.janNew,jdbcType=VARCHAR})
    </if>
    </foreach>
  </insert>
</mapper>
