<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderShelfDataMapper">
    <select id="getRestrictData" resultType="com.trechina.planocycle.entity.dto.PriorityOrderRestrictDto">
        select rmst.zokusei1,rmst.zokusei2,rmst.zokusei3,rmst.zokusei4,rmst.zokusei5,rmst.zokusei6,
               rmst.zokusei7,rmst.zokusei8,rmst.zokusei9,rmst.zokusei10,rmst.restrict_cd,
               coalesce( sum(datas.face_fact),0) as faceNum,coalesce(count(datas.jan_cd),0) as skuNum
        from planocycle.work_priority_order_restrict_result rmst
                 left join
             planocycle.work_priority_order_result_data datas
             on rmst.restrict_cd = datas.restrict_cd  and datas.adopt_flag=1 and datas.company_cd=rmst.company_cd
                 and datas.priority_order_cd=rmst.priority_order_cd
        where   rmst.company_cd = #{companyCd} and rmst.author_cd = #{authorCd} and rmst.priority_order_cd = #{priorityOrderCd}
        GROUP BY zokusei1,zokusei2,zokusei3,zokusei4,zokusei5,zokusei6,zokusei7,zokusei8,zokusei9,zokusei10,rmst.restrict_cd
        order by restrict_cd
    </select>
    <select id="getPlatformShedData" resultType="com.trechina.planocycle.entity.dto.PriorityOrderPlatformShedDto">

        select  relation.tai_cd,relation.tana_cd,relation.tana_type,
                COALESCE( datas.faceNum,0) as faceNum,coalesce(datas.skuNum,0) as skuNum
        from planocycle.work_priority_order_restrict_relation  relation
                 left join (
            select tai_cd,tana_cd,tana_type, sum(face_fact) as  faceNum,count(jan_cd) as skuNum from planocycle.work_priority_order_result_data where priority_order_cd = #{priorityOrderCd}
            GROUP BY tai_cd,tana_cd,tana_type) datas

                           on datas.tai_cd = relation.tai_cd and datas.tana_cd = relation.tana_cd and relation.tana_type = datas.tana_type
        where  relation.company_cd = #{companyCd} and relation.author_cd = #{authorCd} and relation.priority_order_cd =#{priorityOrderCd}
        order by tai_cd,tana_cd
    </select>
    <select id="getRestrictJans" resultType="com.trechina.planocycle.entity.dto.PriorityOrderRestrictJanDto">
        select datas.jan_cd as janCd,jans.jan_nm as janName, datas.tai_cd as taiCd,datas.tana_cd as tanaCd, jans.irisu as zokusei7,jans.pkg as zokusei5,
               jans.alcohol as zokusei8,jans.brand as zokusei9,jans.kikaku as zokusei6,
               jans.scat1cd_val as zokusei1,jans.scat2cd_val as zokusei2,jans.scat3cd_val as zokusei3,jans.scat4cd_val as zokusei4,
               datas.tana_type as restrictType,sku_rank as rank,datas.face_fact as faceNum
        from  planocycle.work_priority_order_result_data datas
                left join planocycle.work_priority_order_restrict_result rmst
                        on rmst.restrict_cd = datas.restrict_cd
                            and rmst.company_cd = #{item.companyCd} and rmst.author_cd = #{authorCd}
                            and rmst.priority_order_cd = #{item.priorityOrderCd}
                left join masterdb.jan_mst jans
                        on jans.jan_cd = datas.jan_cd

            where   datas.restrict_cd = #{item.restrictCd} and datas.company_cd = #{item.companyCd} and datas.author_cd = #{authorCd} and datas.adopt_flag=1
            and datas.priority_order_cd = #{item.priorityOrderCd}
            order by sku_rank

    </select>
    <select id="getPlatformShedJans" resultType="com.trechina.planocycle.entity.dto.PriorityOrderRestrictJanDto">
        select DISTINCT datas.jan_cd as janCd,jans.jan_nm as janName, datas.tai_cd as taiCd,datas.tana_cd as tanaCd, jans.irisu as zokusei7,jans.pkg as zokusei5,
               jans.alcohol as zokusei8,jans.brand as zokusei9,jans.kikaku as zokusei6,
               jans.scat1cd_val as zokusei1,jans.scat2cd_val as zokusei2,jans.scat3cd_val as zokusei3,jans.scat4cd_val as zokusei4,
               datas.tana_type as restrictType,sku_rank as rank,datas.face_fact as faceNum
        from  planocycle.work_priority_order_result_data datas
                  left join planocycle.work_priority_order_restrict_result rmst
                            on rmst.restrict_cd = datas.restrict_cd
                  left join masterdb.jan_mst jans
                            on jans.jan_cd = datas.jan_cd
        where datas.tai_cd = #{item.taiCd} and datas.tana_cd = #{item.tanaCd} and datas.tana_type = #{item.tanaType}
        and datas.company_cd = #{item.companyCd} and datas.author_cd =#{authorCd} and datas.priority_order_cd = #{item.priorityOrderCd}
        order by sku_rank
    </select>
</mapper>