<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trechina.planocycle.mapper.PriorityAllMstMapper">

    <!-- Home画面の全パータンList -->
    <resultMap id="tableNameList" type="com.trechina.planocycle.entity.dto.TableNameDto">
        <id column="priority_all_cd" jdbcType="INTEGER" property="id" />
        <result column="priority_all_name" jdbcType="VARCHAR" property="fileName" />
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="author_cd" jdbcType="VARCHAR" property="authorName"/>
    </resultMap>
    <insert id="setFinalTableMst">
        insert into planocycle.priority_all_mst(priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd,create_time)
        select priority_all_cd,company_cd,author_cd,#{priorityAllName},priority_order_cd,now() from planocycle.work_priority_all_mst
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTableShelfs">
        insert into planocycle.priority_all_shelfs
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd from planocycle.work_priority_all_shelfs
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTableRestrict">
        insert into planocycle.priority_all_restrict
        select priority_all_cd,company_cd,author_cd,shelf_pattern_cd,restrict_cd,zokusei1,zokusei2,zokusei3,zokusei4,zokusei5,zokusei6,zokusei7,zokusei8,zokusei9
             ,zokusei10,tana_cnt,sku_cnt
        from planocycle.work_priority_all_restrict
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTableRelation">
        insert into planocycle.priority_all_restrict_relation
        select priority_all_cd,company_cd,author_cd,shelf_pattern_cd,tai_cd,tana_cd,tana_type,restrict_cd from planocycle.work_priority_all_restrict_relation
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTableResult">
        insert into planocycle.priority_all_result_data(priority_all_cd,company_cd,author_cd,shelf_patten_cd,restrict_cd,jan_cd,sku_rank,adopt_flag,face,face_sku,irisu,tai_cd
                                                       ,tana_cd,tana_type,face_keisan,sales_cnt,face_fact,sort_rank)
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,restrict_cd,jan_cd,sku_rank,adopt_flag,face,face_sku,irisu,tai_cd
             ,tana_cd,tana_type,face_keisan,sales_cnt,face_fact,sort_rank
        from planocycle.work_priority_all_result_data
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTablePtsData">
        insert into planocycle.work_priority_all_pts_data( priority_all_cd,company_cd,author_cd,file_name,create_time,shelf_pattern_cd,valid_flg,start_day,edit_time,
                                                         editer_cd,deleteflg,id)
        select priority_all_cd,company_cd,author_cd,file_name,create_time,shelf_pattern_cd,valid_flg,start_day,edit_time,
               editer_cd,deleteflg,id
               from planocycle.priority_all_pts_data
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTablePtsRelation">
        insert into planocycle.work_priority_all_restrict_relation(priority_all_cd,company_cd,author_cd,shelf_pattern_cd,tai_cd,tana_cd,tana_type,restrict_cd)
        select priority_all_cd,company_cd,author_cd,shelf_pattern_cd,tai_cd,tana_cd,tana_type,restrict_cd
        from planocycle.priority_all_restrict_relation
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTablePtsTai">
        insert into planocycle.priority_all_pts_tai
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tai_height,tai_width,tai_depth,tai_nm,pts_cd from planocycle.work_priority_all_pts_tai
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTablePtsTana">
        insert into planocycle.priority_all_pts_tana
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tana_height,tana_width,tana_depth,tana_thickness
             ,tana_type,tana_nm,pts_cd
        from planocycle.work_priority_all_pts_tana
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTablePtsJans">
        insert into planocycle.priority_all_pts_jans
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tanaposition_cd,jan_cd,face_count,face_men,
               face_kaiten,tumiagesu,zaikosu,face_displayflg,face_position,depth_display_num,pts_cd
        from planocycle.work_priority_all_pts_jans
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTablePtsData">
        insert into planocycle.priority_all_pts_data( priority_all_cd,company_cd,author_cd,file_name,create_time,shelf_pattern_cd,valid_flg,start_day,edit_time,
                                                           editer_cd,deleteflg,id)
        select priority_all_cd,company_cd,author_cd,file_name,create_time,shelf_pattern_cd,valid_flg,start_day,edit_time,
               editer_cd,deleteflg,id
        from planocycle.work_priority_all_pts_data
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setFinalTablePtsVersion">
        insert into planocycle.priority_all_pts_data_version(priority_all_cd,company_cd,author_cd,pts_cd,commoninfo,versioninfo,outflg,modename,tai_header,tana_header
                                                            ,jan_header,deleteflg,shelf_pattern_cd)
        select priority_all_cd,company_cd,author_cd,pts_cd,commoninfo,versioninfo,outflg,modename,tai_header,tana_header
             ,jan_header,deleteflg,shelf_pattern_cd
        from planocycle.work_priority_all_pts_data_version
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTableMst">
        insert into planocycle.priority_all_mst(priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd,create_time)
        select #{priorityAllCd},company_cd,author_cd,#{priorityAllName},priority_order_cd,now() from planocycle.work_priority_all_mst
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTableShelfs">
        insert into planocycle.priority_all_shelfs
        select #{priorityAllCd},company_cd,author_cd,shelf_patten_cd from planocycle.work_priority_all_shelfs
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTableRestrict">
        insert into planocycle.priority_all_restrict(priority_all_cd,company_cd,author_cd,shelf_pattern_cd,restrict_cd,zokusei1,zokusei2,zokusei3,zokusei4,zokusei5,zokusei6,zokusei7,zokusei8,zokusei9
                                                    ,zokusei10,tana_cnt,sku_cnt)
        select #{priorityAllCd},company_cd,author_cd,shelf_pattern_cd,restrict_cd,zokusei1,zokusei2,zokusei3,zokusei4,zokusei5,zokusei6,zokusei7,zokusei8,zokusei9
             ,zokusei10,tana_cnt,sku_cnt
        from planocycle.work_priority_all_restrict
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTableRelation">
        insert into planocycle.priority_all_restrict_relation(priority_all_cd,company_cd,author_cd,shelf_pattern_cd,tai_cd,tana_cd,tana_type,restrict_cd )
        select #{priorityAllCd},company_cd,author_cd,shelf_pattern_cd,tai_cd,tana_cd,tana_type,restrict_cd from planocycle.work_priority_all_restrict_relation
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTableResult">
        insert into planocycle.priority_all_result_data(priority_all_cd,company_cd,author_cd,shelf_patten_cd,restrict_cd,jan_cd,sku_rank,adopt_flag,face,face_sku,irisu,tai_cd
                                                       ,tana_cd,tana_type,face_keisan,sales_cnt,face_fact,sort_rank)
        select #{priorityAllCd},company_cd,author_cd,shelf_patten_cd,restrict_cd,jan_cd,sku_rank,adopt_flag,face,face_sku,irisu,tai_cd
             ,tana_cd,tana_type,face_keisan,sales_cnt,face_fact,sort_rank
        from planocycle.work_priority_all_result_data
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTablePtsTai">
        insert into planocycle.priority_all_pts_tai( priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tai_height,tai_width,tai_depth,tai_nm,pts_cd)
        select #{priorityAllCd},company_cd,author_cd,shelf_patten_cd,tai_cd,tai_height,tai_width,tai_depth,tai_nm,pts_cd from planocycle.work_priority_all_pts_tai
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTablePtsTana">
        insert into planocycle.priority_all_pts_tana(priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tana_height,tana_width,tana_depth,tana_thickness
                                                    ,tana_type,tana_nm,pts_cd)
        select #{priorityAllCd},company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tana_height,tana_width,tana_depth,tana_thickness
             ,tana_type,tana_nm,pts_cd
        from planocycle.work_priority_all_pts_tana
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTablePtsJans">
        insert into planocycle.priority_all_pts_jans(priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tanaposition_cd,jan_cd,face_count,face_men,
                                                     face_kaiten,tumiagesu,zaikosu,face_displayflg,face_position,depth_display_num,pts_cd)
        select #{priorityAllCd},company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tanaposition_cd,jan_cd,face_count,face_men,
               face_kaiten,tumiagesu,zaikosu,face_displayflg,face_position,depth_display_num,pts_cd
        from planocycle.work_priority_all_pts_jans
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTablePtsData">
        insert into planocycle.priority_all_pts_data( priority_all_cd,company_cd,author_cd,file_name,create_time,shelf_pattern_cd,valid_flg,start_day,edit_time,
                                                      editer_cd,deleteflg,id)
        select #{priorityAllCd},company_cd,author_cd,file_name,create_time,shelf_pattern_cd,valid_flg,start_day,edit_time,
               editer_cd,deleteflg,id
        from planocycle.work_priority_all_pts_data
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="setNewFinalTablePtsVersion">
        insert into planocycle.priority_all_pts_data_version(priority_all_cd,company_cd,author_cd,pts_cd,commoninfo,versioninfo,outflg,modename,tai_header,tana_header
                                                            ,jan_header,deleteflg,shelf_pattern_cd)
        select #{priorityAllCd},company_cd,author_cd,pts_cd,commoninfo,versioninfo,outflg,modename,tai_header,tana_header
             ,jan_header,deleteflg,shelf_pattern_cd
        from planocycle.work_priority_all_pts_data_version
        where priority_all_cd = 0
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>

    <delete id="deleteWKTableMst">
        delete from planocycle.work_priority_all_mst
        where priority_all_cd = #{priorityAllCd}
            and company_cd = #{companyCd,jdbcType=VARCHAR}
            and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTableShelfs">
        delete from planocycle.work_priority_all_shelfs
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTableRestrict">
        delete from planocycle.work_priority_all_restrict
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTableResult">
        delete from planocycle.work_priority_all_result_data
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTablePtsTai">
        delete from planocycle.work_priority_all_pts_tai
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTablePtsTana">
        delete from planocycle.work_priority_all_pts_tana
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTablePtsJans">
        delete from planocycle.work_priority_all_pts_jans
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTableMst">
        delete from planocycle.priority_all_mst
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTableShelfs">
        delete from planocycle.priority_all_shelfs
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTableRestrict">
        delete from planocycle.priority_all_restrict
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTableResult">
        delete from planocycle.priority_all_result_data
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTablePtsTai">
        delete from planocycle.priority_all_pts_tai
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTablePtsTana">
        delete from planocycle.priority_all_pts_tana
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTablePtsJans">
        delete from planocycle.priority_all_pts_jans
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTablePtsData">
        delete from planocycle.priority_all_pts_data
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTablePtsRelation">
        delete from planocycle.priority_all_restrict_relation
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteFinalTablePtsVersion">
        delete from planocycle.priority_all_pts_data_version
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTablePtsData">
        delete from planocycle.work_priority_all_pts_data
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTablePtsRelation">
        delete from planocycle.work_priority_all_restrict_relation
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteWKTablePtsVersion">
        delete from planocycle.work_priority_all_pts_data_version
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <update id="deleteMst">
        update planocycle.priority_all_mst set deleteflg = 1 where priority_all_cd = #{priorityAllCd}
                                                               and company_cd = #{companyCd,jdbcType=VARCHAR}
                                                               and author_cd = #{authorCd,jdbcType=VARCHAR}
    </update>

    <insert id="copyWKTableMst">
        insert into planocycle.work_priority_all_mst
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_mst
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTableShelfs">
        insert into planocycle.work_priority_all_shelfs
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd from planocycle.priority_all_shelfs
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTableRestrict">
        insert into planocycle.work_priority_all_restrict
        select priority_all_cd,company_cd,author_cd,shelf_pattern_cd,restrict_cd,zokusei1,zokusei2,zokusei3,zokusei4,zokusei5,zokusei6,zokusei7,zokusei8,zokusei9
                ,zokusei10,tana_cnt,sku_cnt
        from planocycle.priority_all_restrict
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTableRelation">
        insert into planocycle.work_priority_all_restrict_relation
        select priority_all_cd,company_cd,author_cd,shelf_pattern_cd,tai_cd,tana_cd,tana_type,restrict_cd from planocycle.priority_all_restrict_relation
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTableResult">
        insert into planocycle.work_priority_all_result_data(priority_all_cd,company_cd,author_cd,shelf_patten_cd,restrict_cd,jan_cd,sku_rank,adopt_flag,face,face_sku,irisu,tai_cd
                                                            ,tana_cd,tana_type,face_keisan,sales_cnt,face_fact,sort_rank
        )
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,restrict_cd,jan_cd,sku_rank,adopt_flag,face,face_sku,irisu,tai_cd
            ,tana_cd,tana_type,face_keisan,sales_cnt,face_fact,sort_rank
        from planocycle.priority_all_result_data
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTablePtsTai">
        insert into planocycle.work_priority_all_pts_tai
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tai_height,tai_width,tai_depth,tai_nm,pts_cd from planocycle.priority_all_pts_tai
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTablePtsTana">
        insert into planocycle.work_priority_all_pts_tana
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tana_height,tana_width,tana_depth,tana_thickness
            ,tana_type,tana_nm,pts_cd
        from planocycle.priority_all_pts_tana
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTablePtsJans">
        insert into planocycle.work_priority_all_pts_jans
        select priority_all_cd,company_cd,author_cd,shelf_patten_cd,tai_cd,tana_cd,tanaposition_cd,jan_cd,face_count,face_men,
               face_kaiten,tumiagesu,zaikosu,face_displayflg,face_position,depth_display_num,pts_cd
               from planocycle.priority_all_pts_jans
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>



    <insert id="insertWKTableMst">
        insert into planocycle.work_priority_all_mst(
            priority_all_cd, company_cd, author_cd, priority_all_nm, priority_order_cd)
        values(#{priorityAllCd}, #{companyCd,jdbcType=VARCHAR}, #{authorCd,jdbcType=VARCHAR}, '', #{priorityOrderCd})
    </insert>
    <insert id="insertWKTableShelfs" >
        insert into planocycle.work_priority_all_shelfs(
        priority_all_cd, company_cd, author_cd, shelf_patten_cd)
        values
        <foreach collection="patterns" item="list" separator=",">
            (#{priorityAllCd}, #{companyCd,jdbcType=VARCHAR}, #{authorCd,jdbcType=VARCHAR}, #{list})
        </foreach>
    </insert>
    <insert id="insertWKTableRestrict">
        insert into planocycle.work_priority_all_restrict
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_restrict
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="insertWKTableRelation">
        insert into planocycle.work_priority_all_restrict_relation
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_restrict_relation
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="insertWKTableResult">
        insert into planocycle.work_priority_all_result_data
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_result_data
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="insertWKTablePtsTai">
        insert into planocycle.work_priority_all_pts_tai
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_pts_tai
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="insertWKTablePtsTana">
        insert into planocycle.work_priority_all_pts_tana
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_pts_tana
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="insertWKTablePtsJans">
        insert into planocycle.work_priority_all_pts_jans
        select priority_all_cd,company_cd,author_cd,priority_all_name,priority_order_cd from planocycle.priority_all_pts_jans
        where priority_all_cd = #{priorityAllCd}
        and company_cd = #{companyCd,jdbcType=VARCHAR}
        and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
    <insert id="copyWKTablePtsVersion">
        insert into planocycle.work_priority_all_pts_data_version
        select priority_all_cd,company_cd,author_cd,pts_cd,commoninfo,versioninfo,outflg,modename,tai_header,tana_header
            ,jan_header,deleteflg,shelf_pattern_cd
        from planocycle.priority_all_pts_data_version
        where priority_all_cd = #{priorityAllCd}
          and company_cd = #{companyCd,jdbcType=VARCHAR}
          and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>


    <select id="getTableNameByCompanyCd" resultMap="tableNameList">
        select
            priority_all_cd, priority_all_name,create_time,author_cd
        from planocycle.priority_all_mst
        where company_cd = #{companyCd,jdbcType=VARCHAR}
            and deleteflg=0
            and author_cd = #{authorCd,jdbcType=VARCHAR}
        order by priority_all_cd desc
    </select>

    <select id="getPatternCdBYPriorityCd" resultType="java.lang.Integer">
        select
            shelf_pattern_cd
        from planocycle.priority_order_mst
        where company_cd = #{companyCd,jdbcType=VARCHAR}
            and priority_order_cd = #{priorityOrderCd}
            and deleteflg=0
    </select>

    <select id="getAllPatternData" resultType="com.trechina.planocycle.entity.vo.PriorityAllPatternListVO">
        select shelfnm.shelf_name,shelf.shelf_pattern_cd,shelf.shelf_pattern_name
            ,count(distinct tana.tai_cd) as tai_cnt,count(tana.tana_cd) as tana_cnt
            ,case when allshelf.shelf_patten_cd is not null then 1 else 0 end as checkFlag
        from planocycle.shelf_pattern_mst shelf
        left join planocycle.work_priority_all_shelfs allshelf
            on allshelf.priority_all_cd = #{priorityAllCd}
            and allshelf.company_cd = shelf.company_cd and allshelf.author_cd = shelf.author_cd
            and allshelf.shelf_patten_cd = shelf.shelf_pattern_cd
        inner join planocycle.shelf_name_mst shelfnm
            on shelf.shelf_name_cd = shelfnm.id
        inner join planocycle.shelf_pts_data pts
            on shelf.shelf_pattern_cd = pts.shelf_pattern_cd
        inner join planocycle.shelf_pts_data_taimst tai
            on pts.id = tai.pts_cd
        inner join planocycle.shelf_pts_data_tanamst tana
            on tai.pts_cd = tana.pts_cd
            and tai.tai_cd = tana.tai_cd
        where shelf.company_cd = #{companyCd,jdbcType=VARCHAR}
            and shelf.shelf_name_cd = (
                    select shelf_name_cd
                    from planocycle.shelf_pattern_mst
                    where shelf_pattern_cd = #{patternCd})
             and shelf.shelf_pattern_cd != #{patternCd}
        group by shelfnm.shelf_name,shelf.shelf_pattern_cd,shelf.shelf_pattern_name,allshelf.shelf_patten_cd
        order by shelf.shelf_pattern_cd
    </select>
    <select id="selectByAuthorCd" resultType="com.trechina.planocycle.entity.dto.WorkPriorityOrderResultDataDto">
        select tai_cd, jan_cd,tana_cd,face,face_fact from planocycle.work_priority_all_result_data where company_cd = #{companyCd,jdbcType=VARCHAR}
        and priority_all_cd = #{priorityAllCd} and author_cd=#{authorCd} and adopt_flag=1 and shelf_patten_cd=#{patternCd}
        order by tai_cd,tana_type,sort_rank,sku_rank
    </select>
    <select id="getPriorityOrderCd" resultType="java.lang.Integer">
        select priority_order_cd from  planocycle.priority_all_mst where priority_all_cd = #{priorityAllCd} and company_cd = #{companyCd} and author_cd = #{authorCd}
    </select>
    <select id="selectPriorityAllName" resultType="java.lang.Integer">
        select priority_all_cd from planocycle.priority_all_mst where company_cd = #{companyCd} and priority_all_name = #{priorityAllName}
    </select>
</mapper>