<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderRestrictRelationMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderRestrictRelation">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="tai_cd" jdbcType="INTEGER" property="taiCd" />
    <result column="tana_cd" jdbcType="INTEGER" property="tanaCd" />
    <result column="restrict_cd" jdbcType="BIGINT" property="restrictCd" />
  </resultMap>
  <sql id="Base_Column_List">
    company_cd, priority_order_cd, tai_cd, tana_cd, restrict_cd
  </sql>
  <delete id="deleteByAuthorCd" parameterType="map">
    delete from planocycle.priority_order_restrict_relation
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER} and author_cd = #{authorCd,jdbcType=INTEGER}
  </delete>
  <update id="logicDeleteByPriorityOrderCd">
    update planocycle.priority_order_restrict_relation
    set deleteflg=1 , editer_cd= #{authorCd} , edit_time=now()
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </update>
  <insert id="insertBySelect">
    insert into planocycle.priority_order_restrict_relation(company_cd,priority_order_cd,tai_cd,tana_cd,tana_type,restrict_cd,
    author_cd,editer_cd,edit_time,create_time)
    select company_cd,priority_order_cd,tai_cd,tana_cd,tana_type,restrict_cd,
    author_cd,author_cd,now(),now() from planocycle.work_priority_order_restrict_relation
    where company_cd = #{companyCd,jdbcType=VARCHAR} and author_cd=#{authorCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </insert>
</mapper>