<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderRestrictRelationMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderRestrictRelation">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="tai_cd" jdbcType="INTEGER" property="taiCd" />
    <result column="tana_cd" jdbcType="INTEGER" property="tanaCd" />
    <result column="restrict_cd" jdbcType="BIGINT" property="restrictCd" />
  </resultMap>
  <sql id="Base_Column_List">
    company_cd, priority_order_cd, tai_cd, tana_cd, restrict_cd
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from priority_order_restrict_relation
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from priority_order_restrict_relation
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderRestrictRelation">
    insert into priority_order_restrict_relation (company_cd, priority_order_cd, tai_cd, 
      tana_cd, restrict_cd)
    values (#{companyCd,jdbcType=VARCHAR}, #{priorityOrderCd,jdbcType=INTEGER}, #{taiCd,jdbcType=INTEGER}, 
      #{tanaCd,jdbcType=INTEGER}, #{restrictCd,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.trechina.planocycle.entity.po.PriorityOrderRestrictRelation">
    insert into priority_order_restrict_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        company_cd,
      </if>
      <if test="priorityOrderCd != null">
        priority_order_cd,
      </if>
      <if test="taiCd != null">
        tai_cd,
      </if>
      <if test="tanaCd != null">
        tana_cd,
      </if>
      <if test="restrictCd != null">
        restrict_cd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        #{companyCd,jdbcType=VARCHAR},
      </if>
      <if test="priorityOrderCd != null">
        #{priorityOrderCd,jdbcType=INTEGER},
      </if>
      <if test="taiCd != null">
        #{taiCd,jdbcType=INTEGER},
      </if>
      <if test="tanaCd != null">
        #{tanaCd,jdbcType=INTEGER},
      </if>
      <if test="restrictCd != null">
        #{restrictCd,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trechina.planocycle.entity.po.PriorityOrderRestrictRelation">
    update priority_order_restrict_relation
    <set>
      <if test="taiCd != null">
        tai_cd = #{taiCd,jdbcType=INTEGER},
      </if>
      <if test="tanaCd != null">
        tana_cd = #{tanaCd,jdbcType=INTEGER},
      </if>
      <if test="restrictCd != null">
        restrict_cd = #{restrictCd,jdbcType=BIGINT},
      </if>
    </set>
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trechina.planocycle.entity.po.PriorityOrderRestrictRelation">
    update priority_order_restrict_relation
    set tai_cd = #{taiCd,jdbcType=INTEGER},
      tana_cd = #{tanaCd,jdbcType=INTEGER},
      restrict_cd = #{restrictCd,jdbcType=BIGINT}
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </update>
  <update id="logicDeleteByPriorityOrderCd">
    update planocycle.priority_order_restrict_relation
    set deleteflg=1
    where company_cd = #{companyCd,jdbcType=VARCHAR} and author_cd=#{authorCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </update>
  <insert id="insertBySelect">
    insert into planocycle.priority_order_restrict_relation(company_cd,priority_order_cd,tai_cd,tana_cd,tana_type,restrict_cd,
    author_cd)
    select company_cd,priority_order_cd,tai_cd,tana_cd,tana_type,restrict_cd,
    author_cd from planocycle.work_priority_order_restrict_relation
    where company_cd = #{companyCd,jdbcType=VARCHAR} and author_cd=#{authorCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </insert>
</mapper>