<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.PriorityOrderJanCardMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.PriorityOrderJanCard">
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <id column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <id column="jan_old" jdbcType="VARCHAR" property="janCd" />
  </resultMap>
    <insert id="setWorkForFinal">
        insert into planocycle.work_priority_order_cut(priority_order_cd,company_cd,author_cd,jan_cd)
        select priority_order_cd,company_cd,#{authorCd},jan_cd
        from planocycle.priority_order_jan_cut
        where company_cd = #{companyCd,jdbcType=VARCHAR}
            and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}

    </insert>
    <delete id="deleteByPrimaryKey" parameterType="map">
    delete from planocycle.priority_order_jan_card
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
    <delete id="workDelete">
        delete from planocycle.work_priority_order_cut
        where company_cd = #{companyCd,jdbcType=VARCHAR}
          and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
            and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <select id="selectJanCard" resultType="com.trechina.planocycle.entity.vo.PriorityOrderJanCardVO">
        select cut.jan_cd,mst.jan_nm as janName  from planocycle.work_priority_order_cut  cut
                                                          left join masterdb.jan_mst mst
                                                                    on cut.jan_cd = mst.jan_cd
        where priority_order_cd= #{priorityOrderCd} and company_cd = #{companyCd}
    </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.PriorityOrderJanCard">
    insert into planocycle.work_priority_order_cut (company_cd, priority_order_cd, jan_cd,author_cd
      )
    values
       <foreach collection="lists" separator="," item="list">

       (#{list.companyCd,jdbcType=VARCHAR}, #{list.priorityOrderCd,jdbcType=INTEGER}, #{list.janCd,jdbcType=VARCHAR},#{authorCd})

       </foreach>
  </insert>
    <delete id="deleteByAuthorCd" parameterType="com.trechina.planocycle.entity.po.PriorityOrderJanCard">
        delete from planocycle.priority_order_jan_cut
        where company_cd = #{companyCd,jdbcType=VARCHAR}
        and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER} and author_cd = #{authorCd,jdbcType=VARCHAR}
    </delete>
    <insert id="insertBySelect">
        insert into planocycle.priority_order_jan_cut(priority_order_cd,company_cd,author_cd,jan_cd, create_time, editer_cd, edit_time)
        select priority_order_cd,company_cd,author_cd,jan_cd,now(),#{authorCd},now() from planocycle.work_priority_order_cut
        where company_cd = #{companyCd,jdbcType=VARCHAR}
        and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER} and author_cd = #{authorCd,jdbcType=VARCHAR}
    </insert>
</mapper>
