<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ProductPowerParamMstMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.ProductPowerParamMst">
    <id column="company_cd" jdbcType="VARCHAR" property="conpanyCd" />
    <id column="product_power_cd" jdbcType="INTEGER" property="productPowerCd" />
    <result column="perid_flag" jdbcType="INTEGER" property="peridFlag" />
    <result column="start_perid" jdbcType="VARCHAR" property="startPerid" />
    <result column="end_perid" jdbcType="VARCHAR" property="endPerid" />
    <result column="season_perid_flag" jdbcType="INTEGER" property="seasonPeridFlag" />
    <result column="season_st_perid" jdbcType="VARCHAR" property="seasonStPerid" />
    <result column="season_end_perid" jdbcType="VARCHAR" property="seasonEndPerid" />
    <result column="store_cd" jdbcType="VARCHAR" property="storeCd" />
    <result column="channel_name" jdbcType="VARCHAR" property="channelName" />
    <result column="county_name" jdbcType="VARCHAR" property="countyName" />
    <result column="item_flg" jdbcType="INTEGER" property="itemFlg" />
    <result column="prod_cd" jdbcType="VARCHAR" property="prdCd" />
  </resultMap>
  <sql id="Base_Column_List">
    company_cd, product_power_cd, perid_flag, start_perid, end_perid, season_perid_flag, season_st_perid,
    season_end_perid, store_cd, channel_name, county_name, item_flg,prod_cd
  </sql>
  <select id="selectCommodityParam" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from planocycle.product_power_param_mst
    where company_cd = #{conpanyCd,jdbcType=VARCHAR}
      and product_power_cd = #{productPowerCd,jdbcType=INTEGER}
  </select>
  <select id="selectAttrAndItem" resultType="com.trechina.planocycle.entity.vo.ProductOrderAttrAndItemVO">
    SELECT item_flg as itemFlg,array_to_string(array_agg(attr.attr_cd),',') as attrStr
    FROM planocycle.product_power_param_mst mst
           left join planocycle.product_power_param_attribute attr
                     on mst.company_cd =attr.company_cd
                       and mst.product_power_cd =attr.product_power_cd
    where mst.company_cd = #{companyCd,jdbcType=VARCHAR}
      and mst.product_power_cd = #{productOrderCd,jdbcType=INTEGER}
    group by item_flg
  </select>
  <select id="selectAttrAndValue" resultType="com.trechina.planocycle.entity.vo.ProductOrderAttrAndItemVO">
    SELECT item_flg as itemFlg,array_to_string(array_agg(attr.attr_value),',') as attrStr
    FROM planocycle.product_power_param_mst mst
           left join planocycle.product_power_param_attribute attr
                     on mst.company_cd =attr.company_cd
                       and mst.product_power_cd =attr.product_power_cd
    where mst.company_cd = #{companyCd,jdbcType=VARCHAR}
      and mst.product_power_cd = #{productOrderCd,jdbcType=INTEGER}
    group by item_flg
  </select>
  <select id="getParam" resultType="com.trechina.planocycle.entity.po.ProductPowerParam">
    select company_cd,product_power_cd,customerValue,kokyakugroup,posValue,prdCd,prepareValue,RankWeight,recentlyEndTime,recentlyFlag,recentlyStTime,seasonEndTime
      seasonFlag,seasonStTime,storeCd,yearFlag
    FROM planocycle.product_power_param_mst
    WHERE company_cd = #{companyCd} and product_power_cd = #{productPowerCd}
  </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.ProductPowerParamMst">
    insert into planocycle.product_power_param_mst (company_cd, product_power_cd, perid_flag,
      start_perid, end_perid,season_perid_flag, season_st_perid,
      season_end_perid,  store_cd,
      channel_name, county_name, item_flg,prod_cd,author_cd,create_time
      )
    values (#{record.conpanyCd,jdbcType=VARCHAR}, #{record.productPowerCd,jdbcType=INTEGER}, #{record.peridFlag,jdbcType=INTEGER},
      #{record.startPerid,jdbcType=TIMESTAMP}, #{record.endPerid,jdbcType=TIMESTAMP}, #{record.seasonPeridFlag,jdbcType=INTEGER},
      #{record.seasonStPerid,jdbcType=TIMESTAMP},#{record.seasonEndPerid,jdbcType=TIMESTAMP}, #{record.storeCd,jdbcType=VARCHAR},
      #{record.channelName,jdbcType=VARCHAR}, #{record.countyName,jdbcType=VARCHAR}, #{itemFlg,jdbcType=INTEGER},#{prdCd,jdbcType=VARCHAR},
      #{authorCd,jdbcType=VARCHAR},now()
      )
  </insert>
  <insert id="insertParam">
    insert into planocycle.product_power_param_mst (company_cd,product_power_cd,customer_condition,prd_cd,rank_weight,recently_end_time,
                                                    recently_flag,recently_st_time,season_end_time,season_flag,season_st_time,store_cd,year_flag,author_cd,create_time,common_parts_data,
                                                    place_nm,channel_nm,project,shelf_pattern_cd,jan_name2col_num)
    values(#{item.company},#{item.productPowerNo},#{customerCondition},#{item.prdCd},#{item.rankWeight},
           #{item.recentlyEndTime},#{item.recentlyFlag},#{item.recentlyStTime},#{item.seasonEndTime},#{item.seasonFlag},#{item.seasonStTime},#{item.storeCd},
           #{item.yearFlag},#{authorCd},now(),#{item.commonPartsData},#{item.placeNm},#{item.channelNm},#{item.project},#{item.shelfPatternCd},#{item.janName2colNum})
  </insert>
    <delete id="delete">
     delete from  planocycle.product_power_param_mst
      where company_cd = #{conpanyCd,jdbcType=VARCHAR}
        and product_power_cd = #{productPowerCd,jdbcType=INTEGER}
    </delete>
    <update id="deleteCommofityParam" >
    update  planocycle.product_power_param_mst set deleteflg=1,editer_cd=#{authorCd},edit_time=now()
    where company_cd = #{conpanyCd,jdbcType=VARCHAR}
      and product_power_cd = #{productPowerCd,jdbcType=INTEGER}
  </update>
    <insert id="setWork">
      insert into planocycle.work_product_power_param_mst (company_cd,product_power_cd,customer_condition,prd_cd,recently_end_time,
         recently_flag,recently_st_time,season_end_time,season_flag,season_st_time,store_cd,year_flag,author_cd,create_time,common_parts_data,
         place_nm,channel_nm,project,shelf_pattern_cd,jan_name2col_num)
      values(#{item.company},#{item.productPowerNo},#{customerCondition},#{item.prdCd},
             #{item.recentlyEndTime},#{item.recentlyFlag},#{item.recentlyStTime},#{item.seasonEndTime},#{item.seasonFlag},#{item.seasonStTime},#{item.storeCd},
             #{item.yearFlag},#{authorCd},now(),#{item.commonPartsData},#{item.placeNm},#{item.channelNm},#{item.project},#{item.shelfPatternCd},#{item.janName2colNum})
    </insert>
    <delete id="deleteParam">
    delete from planocycle.product_power_param_mst where company_cd=#{companyCd} and product_power_cd =#{productPowerCd}
  </delete>
  <delete id="deleteWork">
    delete from planocycle.work_product_power_param_mst where company_cd=#{companyCd} and product_power_cd =#{productPowerCd}
  </delete>
</mapper>
