<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ShelfNameAreaMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.ShelfNameArea">
    <id column="shelf_name_cd" jdbcType="INTEGER" property="shelfNameCd" />
    <id column="areacd" jdbcType="INTEGER" property="areacd" />
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
  </resultMap>
  <update id="deleteByPrimaryKey">
    update planocycle.shelf_name_area
    set deleteflg=1,edit_time=now(),editer_cd=#{authorCd}
    where shelf_name_cd = #{shelfNameCd,jdbcType=INTEGER} and deleteflg=0
  </update>
  <update id="deleteAreaCd">
    update planocycle.shelf_name_area
    set deleteflg=1,edit_time=now(),editer_cd=#{authorCd}
    where
     shelf_name_cd = #{shelfNameCd,jdbcType=INTEGER} and deleteflg=0 and  areacd in
        <foreach collection="areaCd" separator="," close=")" open="(" item="area">
          #{area}
        </foreach>
  </update>
  <update id="setDelFlg">
    update planocycle.shelf_name_area
    set deleteflg=0,edit_time=now(),editer_cd=#{authorCd}
    where areacd = #{areaCd,jdbcType=INTEGER}
      and shelf_name_cd = #{shelfNameCd,jdbcType=INTEGER} and deleteflg=1
  </update>
  <select id="getShelfNameArea" resultType="java.lang.Integer">
    select
      areacd
    from
      planocycle.shelf_name_area
    where shelf_name_cd=#{id} and company_cd=#{companyCd}
  </select>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.ShelfNameArea">
    insert into planocycle.shelf_name_area (shelf_name_cd, areacd, company_cd,create_time,author_cd
    )
    values
    <foreach collection="lists" separator="," item="list">
        (#{list.shelfNameCd,jdbcType=INTEGER},#{list.areacd,jdbcType=INTEGER}, #{list.companyCd,jdbcType=VARCHAR},now(),#{authorCd})
    </foreach>


  </insert>
</mapper>
