<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ShelfPtsDataHistoryMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.ShelfPtsDataHistory">
    <id column="pts_cd" jdbcType="INTEGER" property="ptsCd" />
    <id column="pattern_cd" jdbcType="INTEGER" property="patternCd" />
    <id column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="valid_flg" jdbcType="INTEGER" property="validFlg" />
    <result column="start_day" jdbcType="DATE" property="startDay" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="author_cd" jdbcType="VARCHAR" property="authorCd" />
    <result column="edit_time" jdbcType="TIMESTAMP" property="editTime" />
    <result column="editer_cd" jdbcType="VARCHAR" property="editerCd" />
    <result column="deleteflg" jdbcType="INTEGER" property="deleteflg" />
  </resultMap>
  <sql id="Base_Column_List">
    pts_cd, pattern_cd, company_cd, valid_flg, start_day, create_time, author_cd, edit_time, 
    editer_cd, deleteflg
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from planocycle.shelf_pts_data_history
    where pts_cd = #{ptsCd,jdbcType=INTEGER}
      and pattern_cd = #{patternCd,jdbcType=INTEGER}
      and company_cd = #{companyCd,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from planocycle.shelf_pts_data_history
    where pts_cd = #{ptsCd,jdbcType=INTEGER}
      and pattern_cd = #{patternCd,jdbcType=INTEGER}
      and company_cd = #{companyCd,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.ShelfPtsDataHistory">
    insert into planocycle.shelf_pts_data_history (pts_cd, pattern_cd, company_cd,
      valid_flg, start_day, create_time, 
      author_cd, edit_time, editer_cd, 
      deleteflg)
    values (#{ptsCd,jdbcType=INTEGER}, #{patternCd,jdbcType=INTEGER}, #{companyCd,jdbcType=VARCHAR}, 
      #{validFlg,jdbcType=INTEGER}, #{startDay,jdbcType=DATE}, #{createTime,jdbcType=TIMESTAMP}, 
      #{authorCd,jdbcType=VARCHAR}, #{editTime,jdbcType=TIMESTAMP}, #{editerCd,jdbcType=VARCHAR}, 
      #{deleteflg,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.trechina.planocycle.entity.po.ShelfPtsDataHistory">
    insert into planocycle.shelf_pts_data_history
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ptsCd != null">
        pts_cd,
      </if>
      <if test="patternCd != null">
        pattern_cd,
      </if>
      <if test="companyCd != null">
        company_cd,
      </if>
      <if test="validFlg != null">
        valid_flg,
      </if>
      <if test="startDay != null">
        start_day,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="authorCd != null">
        author_cd,
      </if>
      <if test="editTime != null">
        edit_time,
      </if>
      <if test="editerCd != null">
        editer_cd,
      </if>
      <if test="deleteflg != null">
        deleteflg,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ptsCd != null">
        #{ptsCd,jdbcType=INTEGER},
      </if>
      <if test="patternCd != null">
        #{patternCd,jdbcType=INTEGER},
      </if>
      <if test="companyCd != null">
        #{companyCd,jdbcType=VARCHAR},
      </if>
      <if test="validFlg != null">
        #{validFlg,jdbcType=INTEGER},
      </if>
      <if test="startDay != null">
        #{startDay,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="authorCd != null">
        #{authorCd,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editerCd != null">
        #{editerCd,jdbcType=VARCHAR},
      </if>
      <if test="deleteflg != null">
        #{deleteflg,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.trechina.planocycle.entity.po.ShelfPtsDataHistory">
    update planocycle.shelf_pts_data_history
    <set>
      <if test="validFlg != null">
        valid_flg = #{validFlg,jdbcType=INTEGER},
      </if>
      <if test="startDay != null">
        start_day = #{startDay,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="authorCd != null">
        author_cd = #{authorCd,jdbcType=VARCHAR},
      </if>
      <if test="editTime != null">
        edit_time = #{editTime,jdbcType=TIMESTAMP},
      </if>
      <if test="editerCd != null">
        editer_cd = #{editerCd,jdbcType=VARCHAR},
      </if>
      <if test="deleteflg != null">
        deleteflg = #{deleteflg,jdbcType=INTEGER},
      </if>
    </set>
    where pts_cd = #{ptsCd,jdbcType=INTEGER}
      and pattern_cd = #{patternCd,jdbcType=INTEGER}
      and company_cd = #{companyCd,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.trechina.planocycle.entity.po.ShelfPtsDataHistory">
    update planocycle.shelf_pts_data_history
    set valid_flg = #{validFlg,jdbcType=INTEGER},
      start_day = #{startDay,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      author_cd = #{authorCd,jdbcType=VARCHAR},
      edit_time = #{editTime,jdbcType=TIMESTAMP},
      editer_cd = #{editerCd,jdbcType=VARCHAR},
      deleteflg = #{deleteflg,jdbcType=INTEGER}
    where pts_cd = #{ptsCd,jdbcType=INTEGER}
      and pattern_cd = #{patternCd,jdbcType=INTEGER}
      and company_cd = #{companyCd,jdbcType=VARCHAR}
  </update>
</mapper>