<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trechina.planocycle.mapper.StarReadingTableMapper">

    <select id="getBranchdiff" resultType="java.util.Map">
        select branch.jan_cd as "jan",sku as "janName" ,branch_cd as "branchCd"
             ,case when exist_flag =-1 then '×' when exist_flag = 0 then '' else  '◯' end  as flag
             ,area
        from priority.work_priority_order_commodity_branch branch
        left join priority.work_priority_order_result_data datas
        on datas.jan_new = branch.jan_cd and branch.priority_order_cd = datas.priority_order_cd
        where branch.priority_order_cd = #{item.priorityOrderCd} and branch.jan_cd in
        <foreach collection="item.janList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and area in
        <foreach collection="branchList" item="item" separator="," open="(" close=")">
            #{item.area}
        </foreach>
    </select>
    <select id="getBranchList" resultType="map">
        select
            split_part(branch,'_',2) as "branchCd","2" as "branchName"
             ,"6" as area,concat('area',"dense_rank"() over( order by "6")) as sort
        from
            planocycle.shelf_pattern_branch branch
                left join "1000".ten_0000_ten_info teninfo
                          on teninfo."1" = branch.branch
        where
                branch.shelf_pattern_cd in
                ( select shelf_pattern_cd from priority.work_priority_order_pattern where priority_order_cd = #{priorityOrderCd})
        order by split_part(branch,'_',2) ::integer
    </select>
    <select id="getAreaList" resultType="java.util.Map">
        select
            distinct "6" as "label",concat('area',"dense_rank"() over( order by "6")) as "value",
                     case when t1.area is null then false else true end as flag,1 as  mode
        from
            planocycle.shelf_pattern_branch branch
            left join "1000".ten_0000_ten_info teninfo
        on teninfo."1" = branch.branch
        left join (select distinct area from  priority.work_priority_order_commodity_branch where priority_order_cd = #{priorityOrderCd}) t1
        on t1.area = teninfo."6"
        where
            branch.shelf_pattern_cd in
            ( select shelf_pattern_cd from priority.work_priority_order_pattern where priority_order_cd = #{priorityOrderCd} )
        order by "6"
    </select>
    <select id="getPatternList" resultType="map">
        select distinct concat('pattern',namemst.id) as "value",shelf_name as "label",
               case when t1.shelf_name_cd is null then false else true end as flag,0 as mode
        from priority.work_priority_order_pattern pattern
        left join planocycle.shelf_pattern_mst  patternmst
        on patternmst.shelf_pattern_cd = pattern.shelf_pattern_cd
        left join planocycle.shelf_name_mst namemst
            on namemst.id = patternmst.shelf_name_cd
        left join (select distinct shelf_name_cd from  priority.work_priority_order_commodity_pattern where priority_order_cd = #{priorityOrderCd}) t1
            on t1.shelf_name_cd = namemst.id
        where pattern.priority_order_cd = #{priorityOrderCd}
    </select>
    <select id="getBranchdiffForBranch" resultType="java.util.Map">
        select
            DISTINCT jan_new as jan,sku as "janName",split_part(branch,'_',2)as "branchCd",'◯' as flag,"6" as area
        from
            priority.work_priority_order_result_data resultdata
                left join planocycle.shelf_pts_data_jandata jandata on resultdata.jan_new = jandata.jan
                left join planocycle.shelf_pts_data ptsdata on jandata.pts_cd = ptsdata.id
                left join planocycle.shelf_pattern_branch branch on ptsdata.shelf_pattern_cd = branch.shelf_pattern_cd
                left join "1000".ten_0000_ten_info teninfo on teninfo."1" = branch.branch
        where
            priority_order_cd = #{item.priorityOrderCd}
          and ptsdata.shelf_pattern_cd in ( select shelf_pattern_cd from priority.work_priority_order_pattern where priority_order_cd = #{item.priorityOrderCd})
          and  resultdata.jan_new in
        <foreach collection="item.janList" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
        and "6" in
        <foreach collection="branchList" item="item" separator="," open="(" close=")">
            #{item.area}
        </foreach>
    </select>
</mapper>