<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.SysConfigMapper">
    <select id="selectSycConfig" resultType="string">
        select item_value from planocycle.sys_config
        where item_name=#{targetColumn}
    </select>
    <select id="selectByPrefix" resultType="string">
        select item_value from planocycle.sys_config
        where item_name like concat(#{targetColumnPre}, '%')
    </select>
</mapper>