<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trechina.planocycle.mapper.WorkPriorityOrderSortMapper">
    <delete id="delete">
        delete from planocycle.work_priority_order_sort
        where company_cd = #{companyCd} and author_cd = #{authorCd}
          and priority_order_cd = #{priorityOrderCd}
    </delete>
</mapper>