<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.WorkPriorityOrderRestrictResultMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.WorkPriorityOrderRestrictResult">
    <result column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="author_cd" jdbcType="VARCHAR" property="authorCd" />
    <result column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="restrict_cd" jdbcType="BIGINT" property="restrictCd" />
    <result column="zokusei1" jdbcType="VARCHAR" property="zokusei1" />
    <result column="zokusei2" jdbcType="VARCHAR" property="zokusei2" />
    <result column="zokusei3" jdbcType="VARCHAR" property="zokusei3" />
    <result column="zokusei4" jdbcType="VARCHAR" property="zokusei4" />
    <result column="zokusei5" jdbcType="VARCHAR" property="zokusei5" />
    <result column="zokusei6" jdbcType="VARCHAR" property="zokusei6" />
    <result column="zokusei7" jdbcType="VARCHAR" property="zokusei7" />
    <result column="zokusei8" jdbcType="VARCHAR" property="zokusei8" />
    <result column="zokusei9" jdbcType="VARCHAR" property="zokusei9" />
    <result column="zokusei10" jdbcType="VARCHAR" property="zokusei10" />
    <result column="tana_cnt" jdbcType="BIGINT" property="tanaCnt" />
    <result column="sku_cnt" jdbcType="BIGINT" property="skuCnt" />
  </resultMap>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.WorkPriorityOrderRestrictResult">
    insert into planocycle.work_priority_order_restrict_result (company_cd, author_cd, priority_order_cd, restrict_cd,
      zokusei1, zokusei2, zokusei3, 
      zokusei4, zokusei5, zokusei6, 
      zokusei7, zokusei8, zokusei9, 
      zokusei10, tana_cnt, sku_cnt
      )
    values (#{companyCd,jdbcType=VARCHAR}, #{authorCd,jdbcType=VARCHAR}, #{priorityOrderCd,jdbcType=INTEGER}, #{restrictCd,jdbcType=BIGINT},
      #{zokusei1,jdbcType=VARCHAR}, #{zokusei2,jdbcType=VARCHAR}, #{zokusei3,jdbcType=VARCHAR}, 
      #{zokusei4,jdbcType=VARCHAR}, #{zokusei5,jdbcType=VARCHAR}, #{zokusei6,jdbcType=VARCHAR}, 
      #{zokusei7,jdbcType=VARCHAR}, #{zokusei8,jdbcType=VARCHAR}, #{zokusei9,jdbcType=VARCHAR}, 
      #{zokusei10,jdbcType=VARCHAR}, #{tanaCnt,jdbcType=BIGINT}, #{skuCnt,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.trechina.planocycle.entity.po.WorkPriorityOrderRestrictResult">
    insert into planocycle.work_priority_order_restrict_result
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        company_cd,
      </if>
      <if test="authorCd != null">
        author_cd,
      </if>
      <if test="priorityOrderCd != null">
        priority_order_cd,
      </if>
      <if test="restrictCd != null">
        restrict_cd,
      </if>
      <if test="zokusei1 != null">
        zokusei1,
      </if>
      <if test="zokusei2 != null">
        zokusei2,
      </if>
      <if test="zokusei3 != null">
        zokusei3,
      </if>
      <if test="zokusei4 != null">
        zokusei4,
      </if>
      <if test="zokusei5 != null">
        zokusei5,
      </if>
      <if test="zokusei6 != null">
        zokusei6,
      </if>
      <if test="zokusei7 != null">
        zokusei7,
      </if>
      <if test="zokusei8 != null">
        zokusei8,
      </if>
      <if test="zokusei9 != null">
        zokusei9,
      </if>
      <if test="zokusei10 != null">
        zokusei10,
      </if>
      <if test="tanaCnt != null">
        tana_cnt,
      </if>
      <if test="skuCnt != null">
        sku_cnt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        #{companyCd,jdbcType=VARCHAR},
      </if>
      <if test="authorCd != null">
        #{authorCd,jdbcType=VARCHAR},
      </if>
      <if test="priorityOrderCd != null">
        #{priorityOrderCd,jdbcType=INTEGER},
      </if>
      <if test="restrictCd != null">
        #{restrictCd,jdbcType=BIGINT},
      </if>
      <if test="zokusei1 != null">
        #{zokusei1,jdbcType=VARCHAR},
      </if>
      <if test="zokusei2 != null">
        #{zokusei2,jdbcType=VARCHAR},
      </if>
      <if test="zokusei3 != null">
        #{zokusei3,jdbcType=VARCHAR},
      </if>
      <if test="zokusei4 != null">
        #{zokusei4,jdbcType=VARCHAR},
      </if>
      <if test="zokusei5 != null">
        #{zokusei5,jdbcType=VARCHAR},
      </if>
      <if test="zokusei6 != null">
        #{zokusei6,jdbcType=VARCHAR},
      </if>
      <if test="zokusei7 != null">
        #{zokusei7,jdbcType=VARCHAR},
      </if>
      <if test="zokusei8 != null">
        #{zokusei8,jdbcType=VARCHAR},
      </if>
      <if test="zokusei9 != null">
        #{zokusei9,jdbcType=VARCHAR},
      </if>
      <if test="zokusei10 != null">
        #{zokusei10,jdbcType=VARCHAR},
      </if>
      <if test="tanaCnt != null">
        #{tanaCnt,jdbcType=BIGINT},
      </if>
      <if test="skuCnt != null">
        #{skuCnt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
    <insert id="insertAll">
      insert into planocycle.work_priority_order_restrict_result (company_cd, author_cd, priority_order_cd, restrict_cd,
      zokusei1, zokusei2, zokusei3,
      zokusei4, zokusei5, zokusei6,
      zokusei7, zokusei8, zokusei9,
      zokusei10, tana_cnt, sku_cnt
      )
      values
      <foreach collection="list" item="item" separator=",">
      (#{item.companyCd,jdbcType=VARCHAR}, #{item.authorCd,jdbcType=VARCHAR}, #{item.priorityOrderCd,jdbcType=INTEGER}, #{item.restrictCd,jdbcType=BIGINT},
      #{item.zokusei1,jdbcType=VARCHAR}, #{item.zokusei2,jdbcType=VARCHAR}, #{item.zokusei3,jdbcType=VARCHAR},
      #{item.zokusei4,jdbcType=VARCHAR}, #{item.zokusei5,jdbcType=VARCHAR}, #{item.zokusei6,jdbcType=VARCHAR},
      #{item.zokusei7,jdbcType=VARCHAR}, #{item.zokusei8,jdbcType=VARCHAR}, #{item.zokusei9,jdbcType=VARCHAR},
      #{item.zokusei10,jdbcType=VARCHAR}, #{item.tanaCnt,jdbcType=BIGINT}, #{item.skuCnt,jdbcType=BIGINT}
      )
      </foreach>
    </insert>
  <insert id="setWorkForFinal">
    insert into planocycle.work_priority_order_restrict_result(company_cd, author_cd, priority_order_cd, restrict_cd,
                                                               zokusei1, zokusei2, zokusei3,
                                                               zokusei4, zokusei5, zokusei6,
                                                               zokusei7, zokusei8, zokusei9,
                                                               zokusei10, tana_cnt, sku_cnt)
    select company_cd, #{authorCd}, priority_order_cd, restrict_cd,
           zokusei1, zokusei2, zokusei3,
           zokusei4, zokusei5, zokusei6,
           zokusei7, zokusei8, zokusei9,
           zokusei10, tana_cnt, sku_cnt
           from planocycle.priority_order_restrict_result
    where company_cd = #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}

  </insert>
  <delete id="deleteByAuthorCd">
      delete from planocycle.work_priority_order_restrict_result
      where company_cd = #{companyCd,jdbcType=VARCHAR} and author_cd = #{authorCd,jdbcType=VARCHAR}
        and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
    </delete>
  <select id="getResultList" resultType="com.trechina.planocycle.entity.po.WorkPriorityOrderRestrictResult">
    select restrict_cd,zokusei1,zokusei2,zokusei3,zokusei4,zokusei5,zokusei6,zokusei7,zokusei8,zokusei9,zokusei10,sku_cnt
    from planocycle.work_priority_order_restrict_result
    where company_cd = #{companyCd} and author_cd = #{authorCd} and priority_order_cd = #{priorityOrderCd}
  </select>
  <select id="getProductPowerData" resultType="com.trechina.planocycle.entity.dto.ProductPowerDataDto">

    select distinct  mst.jan,mst.jan_new,mst.rank_result,mst.jan_rank as rankNewResult
    from ( select  mstData.jan,mstData.sku_name,replaces.jan_new,janMst.brand,
    janMst.kikaku,janMst.pkg,janMst.irisu,janMst.alcohol,janMst.scat1cd_val,janMst.scat2cd_val,janMst.scat3cd_val,janMst.scat4cd_val,mstData.rank_result,janNews.jan_rank
    from
    planocycle.product_power_mst_data  mstData
    left join masterdb.jan_mst janMst
    on  janMst.jan_cd = mstData.jan
    left join planocycle.work_priority_order_jan_replace replaces
    on replaces.jan_old = mstData.jan and replaces.author_cd = #{authorCd} and replaces.company_cd = #{companyCd} and  replaces.priority_order_cd = #{item.priorityOrderCd}
    left join planocycle.work_priority_order_jan_new janNews
    on janNews.jan_new = mstData.jan and janNews.author_cd = #{authorCd} and janNews.company_cd = #{companyCd} and  janNews.priority_order_cd = #{item.priorityOrderCd}
    where
    mstData.company_cd = #{companyCd} and mstData.product_power_cd=#{productPowerCd}
    and
    not EXISTS(select * from  planocycle.work_priority_order_cut card where mstData.jan = card.jan_cd and card.author_cd = #{authorCd} and card.company_cd = #{companyCd}
        and card.priority_order_cd = #{item.priorityOrderCd})

    union
    select janNew.jan_new,janMst.jan_nm,null,janMst.brand,
    janMst.kikaku,janMst.pkg,janMst.irisu,janMst.alcohol,janMst.scat1cd_val,janMst.scat2cd_val,janMst.scat3cd_val,janMst.scat4cd_val,janNew.jan_rank,null
    from
    planocycle.work_priority_order_jan_new janNew
    left join masterdb.jan_mst janMst
    on  janMst.jan_cd = janNew.jan_new
        where  janNew.author_cd = #{authorCd} and janNew.company_cd = #{companyCd} and janNew.priority_order_cd = #{item.priorityOrderCd}
    and not Exists(select jan_cd from planocycle.product_power_mst_data datas where	datas.jan = janNew.jan_new )
        ) mst
    <where>
      <if test="item.zokusei1 != null and item.zokusei1!=''">
        and  mst.scat1cd_val = #{item.zokusei1}
      </if>
      <if test="item.zokusei2 != null and item.zokusei2!=''">
        and  mst.scat2cd_val = #{item.zokusei2}
      </if>
      <if test="item.zokusei3 != null and item.zokusei3!=''">
        and  mst.scat3cd_val = #{item.zokusei3}
      </if>
      <if test="item.zokusei4 != null and item.zokusei4!=''" >
        and  mst.scat4cd_val = #{item.zokusei4}
      </if>
      <if test="item.zokusei5 != null and item.zokusei5!=''">
        and  mst.pkg = #{item.zokusei5}
      </if>
      <if test="item.zokusei6 != null and item.zokusei6!=''">
        and  mst.kikaku = #{item.zokusei6} :: integer
      </if>
      <if test="item.zokusei7 != null and item.zokusei7!=''">
        and  mst.irisu = #{item.zokusei7} :: integer
      </if>
      <if test="item.zokusei8 != null and item.zokusei8!=''">
        and  mst.alcohol = #{item.zokusei8}
      </if>
      <if test="item.zokusei9 != null and item.zokusei9!=''">
        and  mst.brand = #{item.zokusei9}
      </if>
      <if test="item.zokusei10 != null and item.zokusei10!=''">
        and  mst.brand = #{item.zokusei10}
      </if>
    </where>
    order by rank_result,jan
    limit #{item.skuCnt}
  </select>
</mapper>