<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.WorkPriorityOrderMstMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.WorkPriorityOrderMst">
    <result column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="author_cd" jdbcType="VARCHAR" property="authorCd" />
    <result column="priority_order_cd" jdbcType="INTEGER" property="priorityOrderCd" />
    <result column="product_power_cd" jdbcType="INTEGER" property="productPowerCd" />
    <result column="shelf_pattern_cd" jdbcType="BIGINT" property="shelfPatternCd" />
    <result column="attribute1" jdbcType="SMALLINT" property="attribute1" />
    <result column="attribute2" jdbcType="SMALLINT" property="attribute2" />
    <result column="partition_flag" jdbcType="SMALLINT" property="partitionFlag" />
    <result column="partition_val" jdbcType="SMALLINT" property="partitionVal" />
  </resultMap>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.WorkPriorityOrderMst">
    insert into planocycle.work_priority_order_mst (company_cd, author_cd, priority_order_cd, product_power_cd,
      shelf_pattern_cd , common_parts_data,
      partition_flag, partition_val)
    values (#{companyCd,jdbcType=VARCHAR}, #{authorCd,jdbcType=VARCHAR}, #{priorityOrderCd,jdbcType=INTEGER}, #{productPowerCd,jdbcType=INTEGER},
      #{shelfPatternCd,jdbcType=BIGINT}, #{commonPartsData}::json,
      #{partitionFlag,jdbcType=SMALLINT}, #{partitionVal,jdbcType=SMALLINT})
      on conflict(company_cd,priority_order_cd)
        do update set
      shelf_pattern_cd = #{shelfPatternCd,jdbcType=BIGINT} ,common_parts_data = #{commonPartsData}::json
  </insert>
  <insert id="insertSelective" parameterType="com.trechina.planocycle.entity.po.WorkPriorityOrderMst">
    insert into planocycle.work_priority_order_mst
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        company_cd,
      </if>
      <if test="authorCd != null">
        author_cd,
      </if>
      <if test="priorityOrderCd != null">
        priority_order_cd,
      </if>
      <if test="productPowerCd != null">
        product_power_cd,
      </if>
      <if test="shelfPatternCd != null">
        shelf_pattern_cd,
      </if>
      <if test="attribute1 != null">
        attribute1,
      </if>
      <if test="attribute2 != null">
        attribute2,
      </if>
      <if test="partitionFlag != null">
        partition_flag,
      </if>
      <if test="partitionVal != null">
        partition_val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        #{companyCd,jdbcType=VARCHAR},
      </if>
      <if test="authorCd != null">
        #{authorCd,jdbcType=VARCHAR},
      </if>
      <if test="priorityOrderCd != null">
        #{priorityOrderCd,jdbcType=INTEGER},
      </if>
      <if test="productPowerCd != null">
        #{productPowerCd,jdbcType=INTEGER},
      </if>
      <if test="shelfPatternCd != null">
        #{shelfPatternCd,jdbcType=BIGINT},
      </if>
      <if test="attribute1 != null">
        #{attribute1,jdbcType=SMALLINT},
      </if>
      <if test="attribute2 != null">
        #{attribute2,jdbcType=SMALLINT},
      </if>
      <if test="partitionFlag != null">
        #{partitionFlag,jdbcType=SMALLINT},
      </if>
      <if test="partitionVal != null">
        #{partitionVal,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <insert id="setWorkForFinal">
    insert into planocycle.work_priority_order_mst(priority_order_cd,company_cd,author_cd,product_power_cd,shelf_pattern_cd
    ,partition_flag,partition_val,common_parts_data,top_partition_val,top_partition_flag)
    select priority_order_cd,company_cd,#{authorCd},product_power_cd,shelf_pattern_cd
                            ,partition_flag,partition_val,common_parts_data,top_partition_val,top_partition_flag
    from planocycle.priority_order_mst
      where company_cd =  #{companyCd,jdbcType=VARCHAR}
      and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </insert>
  <delete id="deleteByAuthorCd">
    delete from planocycle.work_priority_order_mst
    where company_cd =  #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </delete>
  <select id="selectByAuthorCd" resultMap="BaseResultMap">
    select shelf_pattern_cd,partition_flag,partition_val, common_parts_data,product_power_cd
    from planocycle.work_priority_order_mst
    where company_cd = #{companyCd,jdbcType=VARCHAR}
    and priority_order_cd = #{priorityOrderCd,jdbcType=INTEGER}
  </select>
  <select id="getWorkPriorityOrderMst" resultType="com.trechina.planocycle.entity.vo.WorkPriorityOrderMstEditVo">
    select product_power_cd as productPowerCd,shelf_pattern_cd as shelfPatternCd,common_parts_data as commonPartsData
         ,partition_flag as partitionFlag,partition_val as partitionVal,top_partition_val,top_partition_flag
    from planocycle.work_priority_order_mst
    where priority_order_cd = #{priorityOrderCd} and company_cd = #{companyCd} and author_cd = #{authorCd}
  </select>
    <select id="getShelfName" resultType="java.lang.Integer">
      select shelf_name_cd
        from planocycle.shelf_pattern_mst
        where shelf_pattern_cd = #{shelfPattern}
    </select>
  <select id="getProductPowerCd" resultType="java.lang.Integer">
    select product_power_cd from planocycle.work_priority_order_mst where company_cd =#{companyCd} and  priority_order_cd = #{priorityOrderCd}
  </select>
</mapper>