<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.WorkPriorityOrderZokuseiOrderMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.WorkPriorityOrderZokuseiOrder">
    <result column="company_cd" jdbcType="VARCHAR" property="companyCd" />
    <result column="author_cd" jdbcType="VARCHAR" property="authorCd" />
    <result column="zokusei_id" jdbcType="SMALLINT" property="zokuseiId" />
    <result column="zokusei_rank" jdbcType="SMALLINT" property="zokuseiRank" />
  </resultMap>
  <insert id="insert" parameterType="com.trechina.planocycle.entity.po.WorkPriorityOrderZokuseiOrder">
    insert into planocycle.work_priority_order_zokusei_order (company_cd, author_cd, zokusei_id,
      zokusei_rank)
    values (#{companyCd,jdbcType=VARCHAR}, #{authorCd,jdbcType=VARCHAR}, #{zokuseiId,jdbcType=SMALLINT}, 
      #{zokuseiRank,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.trechina.planocycle.entity.po.WorkPriorityOrderZokuseiOrder">
    insert into planocycle.work_priority_order_zokusei_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        company_cd,
      </if>
      <if test="authorCd != null">
        author_cd,
      </if>
      <if test="zokuseiId != null">
        zokusei_id,
      </if>
      <if test="zokuseiRank != null">
        zokusei_rank,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="companyCd != null">
        #{companyCd,jdbcType=VARCHAR},
      </if>
      <if test="authorCd != null">
        #{authorCd,jdbcType=VARCHAR},
      </if>
      <if test="zokuseiId != null">
        #{zokuseiId,jdbcType=SMALLINT},
      </if>
      <if test="zokuseiRank != null">
        #{zokuseiRank,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
</mapper>