<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trechina.planocycle.mapper.WorkPriorityOrderSortRankMapper">
    <insert id="insert">
        insert into planocycle.work_priority_order_sort_rank(company_cd,author_cd,zokusei1_val,zokusei2_val,zokusei_rank)
        values
        <foreach collection="list" item="item" separator=",">
            (#{companyCd},#{authorCd},#{item.zokusei1},#{item.zokusei2},#{zokusei_rank})
        </foreach>
    </insert>

    <delete id="delete">
            delete from planocycle.work_priority_order_sort_rank
            where company_cd = #{companyCd} and author_cd = #{authorCd}
            and priority_order_cd = #{priorityOrderCd}
        </delete>

</mapper>