<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trechina.planocycle.mapper.ZokuseiMapper">
  <resultMap id="BaseResultMap" type="com.trechina.planocycle.entity.po.ZokuseiMst">
    <result property="companyCd" column="company_cd" jdbcType="VARCHAR"/>
    <result property="classCd" column="class_cd" jdbcType="VARCHAR"/>
    <result property="zokuseiId" column="zokusei_id" jdbcType="SMALLINT"/>
    <result property="zokuseiNm" column="zokusei_nm" jdbcType="VARCHAR"/>
    <result property="zokuseiSort" column="zokusei_sort" jdbcType="SMALLINT"/>
    <result property="type" column="type" jdbcType="SMALLINT"/>
    <result property="sortType" column="sort_type" jdbcType="SMALLINT"/>
    <result property="zokuseiCol" column="zokusei_col" jdbcType="VARCHAR"/>
  </resultMap>

  <sql id="Base_Column_List">
    company_cd,class_cd,zokusei_id,
        zokusei_nm,zokusei_sort,type,
        sort_type,zokusei_col
  </sql>

  <select id="selectZokusei" resultType="com.trechina.planocycle.entity.po.ZokuseiMst">
    select zokusei_id,zokusei_col, case when "3" is null then zokusei_col :: integer else (zokusei_col :: INTEGER+1) end as zokuseiSort
           from masterdb.planocycle_zokusei_mst zokuseimst
                  left join "${companyCd}".prod_${classCd}_jan_kaisou_header_sys kaisou
                            on kaisou."3" = trim(zokuseimst.zokusei_col :: VARCHAR)
    where
    company_cd=#{companyCd} and class_cd=#{classCd} and zokusei_id::varchar=any(string_to_array(#{zokuseiIds}, ','))
  </select>
  <select id="selectZokuseiByCd" resultType="com.trechina.planocycle.entity.po.ZokuseiMst">
    select (attrsort.sort+1) as zokusei_id,zokusei_col, case when "3" is null then zokusei_col :: integer else (zokusei_col :: INTEGER+1) end as zokuseiSort
    from masterdb.planocycle_zokusei_mst zokuseimst
    left join "${companyCd}".prod_${classCd}_jan_kaisou_header_sys kaisou
    on kaisou."3" = trim(zokuseimst.zokusei_col :: VARCHAR)
    left join planocycle.work_priority_order_mst_attrsort attrsort on attrsort."value" = zokuseimst.zokusei_id and priority_order_cd=#{priorityOrderCd}
    where
    zokuseimst.company_cd=#{companyCd} and class_cd=#{classCd} and zokusei_id::varchar=any(string_to_array(#{zokuseiIds}, ','))
  </select>
  <select id="selectCdHeader" resultType="int">
    select "3" from ${tableName} where "6"::integer=1 and "1" not like 'jan%'
  </select>
</mapper>
